@import (less) "../../active_config/variables.less";

div.sdm-create-collection {

    .popover-dialog {
    }

    .popover-dialog:before, .popover-dialog:after {
        top: 0px;
        left: 95%;
        border-left: none;
        border-right: none;
        border-bottom: none;
        //width: 600px;
        //height: 500px;
    }
    .popover-overlay {
        background-color: lightgray;
    }


    sdm-create-collection {
        div.collection-option {
            text-align: center;
        }
        div.collection-header {
            background-color: @bgcol1;
            color: @fgcol1;
            border-bottom: solid white 1px;
            height: 21px;
            span.glyphicon.glyphicon-remove {
                float: right;
                padding-right: 5px;
                padding-top: 4px;
                font-size: 11px;
            }
        }

        div.collection-title {
            //background-color: lightgrey;
            padding-left: 10px;
            padding-right:10px;
            margin-top: 0px;
            font-size: 24px;
            margin-bottom: 10px;
            font-weight: bold;
            font-variant: small-caps;
            background-color: @bgcol2;
            color: @fgcol2;
        }

        form.create-collection {
            padding-left: 10px;
            padding-right:10px;
            &.error {
                input.sdm-invalid {
                    border: 1px solid red;
                    box-shadow: 0px 0px 4px fade(red, 60%);
                    &:focus {
                        border: 1px solid red;
                        box-shadow: 0px 0px 4px fade(red, 60%);
                    }
                }

            }
            select {
                margin-bottom: 10px;
                &.form-control.default {
                    font-style: italic;
                    color: grey;
                }
            }
            input.form-control.name {
                &::-webkit-input-placeholder {
                   color: grey;
                   font-style: italic;
                }

                &:-moz-placeholder { /* Firefox 18- */
                   color: grey;
                   font-style: italic;
                }

                &::-moz-placeholder {  /* Firefox 19+ */
                   color: grey;
                   font-style: italic;
                }
            }
            input.sdm-operation-success {
                border: 1px solid lawngreen;
                box-shadow: 0px 0px 4px fade(lawngreen, 60%);
                &:focus {
                    border: 1px solid lawngreen;
                    box-shadow: 0px 0px 8px fade(lawngreen, 60%);
                }
            }
            div#share {
                input.typeahead {
                    width: 287px;
                }
                div.tt-dataset-users {
                    padding-left: 10px;
                    border: 1px solid lightgrey;
                    height: 120px;
                    width: 287px;
                    background: white;
                    overflow: scroll;
                }
                input.create-user {
                    position: relative;
                    top: 6px;
                }
                select {
                    position: relative;
                    top: 11px;
                }
                 span.add-user {
                    position: relative;
                    top: 12px;
                    font-size: 20px;
                    margin-left: 5px;

                }
            }
            div#collection-permissions {
                margin-top: 5px;

                div.permissions-header table {
                    border: 1px solid black;
                    background-color: @bgcol2;
                    color: @fgcol2;

                    margin-bottom: 0px;
                    td {
                        width: 33%;
                    }
                }
                div.permissions-body {
                    height: 100px;
                    overflow: scroll;
                    border: 1px solid black;

                    border-top: none;
                    table.table {
                        margin-top: 0px;
                        margin-bottom: 0px;
                        table-layout: fixed;
                        td {
                            border-top: none;
                            width: 33%;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            .glyphicon.disabled {
                                color: lightgrey;
                            }
                            &.permissions-access {
                                padding-left: 0px;
                                select {
                                    margin-bottom: 0px;
                                    width: 103px;
                                }
                            }
                            vertical-align: middle;
                        }

                    }
                }
            }
            div.collection-confirm-buttons {
                position: absolute;
                bottom: 6px;
                right: 10px;
                text-align: right;
                input#collection-delete {
                    background-color: #df3e3e;
                    color: white;
                }
            }
            textarea {
                max-height: 56px;
                max-width: 100%;
            }
        }

        .sdm-input-label {
            float: left;
            width: 100px;
            font-weight: bold;
        }

    }
}
