<sdm-create-collection>
    <div class="collections-title">Update or Create Collection
        <span class="spinner" ng-show="sdmCCController.loadingState > 0"></span>
    </div>
    <form name="form" class="create-collection">
        <div class="flex-row first">
            <div class="sdm-input-cell">
                <div class="sdm-input-label">Create New</div>
                <input class="form-control" type="text" ng-model="sdmCCController.collectionName" placeholder="{{sdmCCController.collectionPlaceholder}}" name="collectionNew">
            </div>
            <div class="sdm-input-cell sdm-small1">
                - OR -
            </div>
            <div class="sdm-input-cell">
                <div class="sdm-input-label">Add to existing collection</div>
                <select class="form-control" ng-class="{default:!sdmCCController.selectedCollection}" ng-options="collection.name for collection in sdmCCController.existingCollections"  ng-model="sdmCCController.selectedCollection" ng-change="sdmCCController.selectCollection()">
                    <option class="default" value="" disabled>Select</option>
                </select>
            </div>
        </div>
        <div class="flex-row">
            <div class="sdm-input-cell">
                <div class="sdm-input-invisible">Name</div>
                <input type="button" class="form-control btn btn-default" value="Create" ng-click="sdmCCController.save($event, form, true)" ng-disabled="!sdmCCController.collectionName">
            </div>
            <div class="sdm-input-cell sdm-small1"/>
            <div class="sdm-input-cell">
                <div class="sdm-input-label">Name</div>
                <div class="input-group">
                    <input class="form-control" type="text" ng-model="sdmCCController.selectedCollection.name" placeholder="{{sdmCCController.updateCollectionPlaceholder}}" name="collectionName" ng-disabled="!sdmCCController.selectedCollection">
                </div>
            </div>
        </div>
        <div class="flex-row">
            <div class="sdm-input-cell">
                <div class="warning">{{sdmCCController.createWarning}}</div>
                <div class="warning-create" ng-class="{'visible':sdmCCController.createSuccess}">Collection succesfully created</div>
            </div>
            <div class="sdm-input-cell sdm-small1"/>
            <div class="sdm-input-cell delete-collection">
                <div ng-class="{'sdm-input-invisible':!sdmCCController.selectedCollection}">
                    <a href=""  ng-click="sdmCCController.delete($event, form)">Delete Collection: {{sdmCCController.selectedCollection.name}}</a>
                    <div>(Note: Collection content and all permissions will be removed)</div>
                </div>
            </div>
        </div>

        <div id="collection-permissions" ng-show="sdmCCController.loadingState === 0">
            <div id="collection-permissions-title">
                Manage Users
            </div>
            <div class="flex-row">
                <div class="sdm-input-cell sdm-small4">
                    <div class="sdm-input-label">Add User to Collection:<b> {{sdmCCController.selectedCollection.name}}</b></div>
                    <input class="form-control typeahead" type="text" ng-model="sdmCCController.selectedUID" placeholder="{{sdmCCController.permissionPlaceholder}}" name="newPermission" ng-disabled="!sdmCCController.selectedCollection">
                </div>
                <div class="sdm-input-cell sdm-small2">
                    <div class="sdm-input-label">Assign Permission Level</div>
                    <select class="form-control" ng-init="" ng-class="{default:!sdmCCController.selectedRole}" ng-options="role.name for role in sdmCCController.roles" ng-model="sdmCCController.selectedRole" ng-change="sdmCCController.addUser($event, form)" ng-disabled="!sdmCCController.selectedUID"><option class="default" value="" disabled>Select</option></select>
                </div>
                <div class="sdm-input-cell sdm-small2 remove-header">
                    <div ng-show="sdmCCController.selectedCollection">Remove</div>
                </div>
            </div>
            <div class="permissions-body" ng-show="sdmCCController.selectedCollection">
                <div class="flex-row user-permission" ng-repeat="permission in sdmCCController.addedPermissions" ng-class="{gray:$index%2===0, 'first-body':$index===0}">
                    <div class="sdm-input-cell sdm-small4">
                        <div class="permission-name">{{permission.name}}</div>
                    </div>
                    <div class="sdm-input-cell sdm-small2 select">
                        <select class="form-control" ng-options="role.rid as role.name for role in sdmCCController.roles" ng-model="permission.access" ng-disabled="false"></select>
                    </div>
                    <div class="sdm-input-cell sdm-small2 remove">
                        <i class="fa fa-times-circle-o fa-2x" ng-click="sdmCCController.removeUser($index)"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="warning-success" ng-class="{'visible':sdmCCController.saveSuccess}">
            Collection successfully saved
        </div>
        <div class="collection-confirm-buttons">
            <input type="button" id="collection-cancel" class="btn btn-default" ng-click="sdmCCController.cancel($event)" value="Cancel"></input>
            <input id="collection-save" type="button" class="btn btn-default save" ng-click="sdmCCController.save($event, form)" value="Save" ng-show="sdmCCController.selectedCollection"></input>
        </div>
    </form>

</sdm-create-collection>
