<sdm-create-collection>
    <div class="collection-header">
        <span class="glyphicon glyphicon-remove" ng-click="sdmCCController.cancel($event)"></span>
    </div>
    <div class="collection-title">Update or Create Collection
        <span class="spinner" ng-show="sdmCCController.loadingState > 0"></span></div>
    <form name="form" class="create-collection" ng-class="{error: form.hasErrors}">
        <div class="collection-body" ng-show="sdmCCController.loadingState === 0">
            <select class="form-control" ng-class="{default:!sdmCCController.selectedCollection}" ng-options="collection.name for collection in sdmCCController.existingCollections" ng-model="sdmCCController.selectedCollection" ng-change="sdmCCController.selectCollection()">
                <option class="default" value="">{{sdmCCController.defaultSelectText}}</option>
            </select>
            <div class="sdm-input-label">Name</div>
            <input class="form-control name" type="text" ng-model="sdmCCController.collectionName" placeholder="{{sdmCCController.collectionPlaceholder}}" required ng-class="{'sdm-invalid': form.collectionName.hasErrors}" name="collectionName">
            </input>
            <div class="sdm-input-label">Notes</div>
            <textarea class="form-control" ng-model="sdmCCController.collectionNotes">
            </textarea>
            <div id="share" class="form-inline" ng-show="!sdmCCController.selectedCollection || sdmCCController.selectedCollection.userAccess === 'admin' || sdmCCController.curator.root">
                <div class="sdm-input-label">Share</div><br>
                <input class="typeahead form-control" type="email" placeholder="{{sdmCCController.permissionPlaceholder}}" ng-model="sdmCCController.selectedUID" name="newPermission" ng-class="{'sdm-invalid': form.newPermission.hasErrors, 'sdm-operation-success': sdmCCController.success}" ></input>
                <select class="form-control" ng-init="" ng-options="role.name for role in sdmCCController.roles" ng-model="sdmCCController.selectedRole"></select>
                <span class="add-user" ng-click="sdmCCController.addUser($event, form)">
                    <span class="glyphicon glyphicon-plus-sign"></span>
                    <span class="tooltip"
                        sdm-popover
                        sdm-popover-template-text="Add Permission"
                        sdm-popover-class="sdm-tooltip"
                        sdm-popover-show="mouseenter"
                        sdm-popover-hide="mouseleave"
                        sdm-popover-show-timeout="400"
                        sdm-popover-hide-timeout="0"
                        sdm-tooltip-style
                        sdm-tooltip-x="10"
                        sdm-tooltip-y="32">
                    </span>
                </span>
            </div>

            <div id="collection-permissions">
                <div class="sdm-input-label">Permissions</div><br>
                <div class="permissions-header">
                    <table class="table">
                        <thead>
                            <tr>
                                <td>User ID</td>
                                <td>Permissions</td>
                                <td>Remove</td>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="permissions-body">
                    <table class="table">
                        <tbody>
                            <tr class='user-permission' ng-repeat="permission in sdmCCController.addedPermissions">
                                <td>{{permission._id}}</td>
                                <td class="permissions-access"><select class="form-control" ng-options="role.rid as role.name for role in sdmCCController.roles" ng-model="permission.access" ng-disabled="permission._id===sdmCCController.curator.user_uid && !sdmCCController.curator.root"></select></td>
                                <td>
                                    <span class="glyphicon glyphicon-remove" ng-if="((!sdmCCController.selectedCollection || sdmCCController.selectedCollection.userAccess === 'admin') && permission._id!==sdmCCController.curator.user_uid) || sdmCCController.curator.root" ng-click="sdmCCController.removeUser($index, form)"></span>
                                    <span class="glyphicon glyphicon-remove disabled" ng-if="permission._id===sdmCCController.curator.user_uid && !sdmCCController.curator.root"></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>


        <div class="collection-confirm-buttons">
            <input type="button" id="collection-cancel" class="btn btn-default btn-xs" ng-click="sdmCCController.cancel($event)" value="Cancel"></input>
            <input id="collection-save" type="button" class="btn btn-default btn-xs" ng-click="sdmCCController.save($event, form)" value="Save"></input>
        </div>
    </form>
</sdm-create-collection>
