<sdm-csv-viewer sdm-ticket-url="$parent.$parent.sdmIMController.csvTicketUrl" mimetype="$parent.$parent.sdmIMController.mimetype" filename="$parent.$parent.sdmIMController.filename">
    <div class="csv-title">
    {{filename}}
    </div>
    <div class="csv-table" ng-show="showtable">
        <div class="flex-row" ng-repeat="row in data">
            <div class="flex-cell" ng-repeat="cell in row track by $index">
                {{cell}}
            </div>
        </div>
    </div>
    <div class="csv-chart-container" ng-show="!showtable">
        <div id="csv-chart">
        </div>
    </div>
    <div class="sdm-csv-viewer-buttons">
        <input type="button" class="btn btn-default btn-xs" ng-show="!showtable" value="Show all data" ng-click="csvShowAll()">
        <input type="button" class="btn btn-default btn-xs" ng-show="!showtable" value="Hide all data" ng-click="csvHideAll()">
        <input type="button" class="btn btn-default btn-xs" ng-value="showtable?'Show chart':'Show raw data'" ng-click="showtable = !showtable">
        <input type="button" class="btn btn-default btn-xs" value="Close" ng-click="hidePopover($event, 0)">
    </div>
</sdm-csv-viewer>
