<sdm-login-modal id="login-modal">
    <div class="header-modal"></div>
    <div id="login-modal-title" class="title-modal">User Not Authenticated</div>
    <div class="body-modal">You are not authenticated with your {{sdmLMController.authProvider}} account. Please login to access the application.</div>
    <div class="confirm-buttons">
        <button ng-click="sdmLMController.cancel()">Cancel</button>
        <button ng-click="sdmLMController.authenticate()">Login</button>
    </div>
</sdm-login-modal>
