<div ng-if='!userData.logged_in' id="logged-out" class="btn-group btn-group-xs">
    <!-- Only show stuff to authenticate when user is not logged in -->
    <button type="button" class="btn btn-default" ng-click="authenticate()" data-title="Login" data-type="info" data-placement="bottom" bs-tooltip> Login <span class="glyphicon glyphicon-log-in"></span>

    </button>
</div>
<div ng-if="userData.logged_in != null" id="logged-in">
    <div id="user-preferences-buttons" class="btn-group btn-group-xs">
        <button type="button" ng-if="userData.wheel && userData.root" class="btn btn-default superuser"  ng-click="toggleSuperUser()">
            <span class="glyphicon glyphicon-eye-open"> </span>
            <span class="tooltip"
                sdm-popover
                sdm-popover-template-text="Toggle Superuser"
                sdm-popover-class="sdm-tooltip"
                sdm-popover-show="mouseenter"
                sdm-popover-hide="mouseleave"
                sdm-popover-show-timeout="400"
                sdm-popover-hide-timeout="0"
                sdm-tooltip-style
                sdm-tooltip-x="12"
                sdm-tooltip-y="32">
            </span>
        </button>

        <button type="button" ng-if="userData.wheel && !userData.root" class="btn btn-default superuser" ng-click="toggleSuperUser()">
            <span class="glyphicon glyphicon-eye-close"> </span>
            <span class="tooltip"
                sdm-popover
                sdm-popover-template-text="Toggle Superuser"
                sdm-popover-class="sdm-tooltip"
                sdm-popover-show="mouseenter"
                sdm-popover-hide="mouseleave"
                sdm-popover-show-timeout="400"
                sdm-popover-hide-timeout="0"
                sdm-tooltip-style
                sdm-tooltip-x="12"
                sdm-tooltip-y="32">
            </span>
        </button>

        <button type="button" class="btn btn-default" id="username" sdm-popover sdm-popover-template-content="components/userPreferences/preferencesContentPopover.html" sdm-popover-style-top="35px" sdm-popover-style-height="160px" sdm-popover-style-width="320px" sdm-popover-style-left="-287px" sdm-popover-class="sdm-user-preferences" sdm-popover-show="mouseenter" sdm-popover-hide="mouseleave">
            <img ng-src="{{gravatarURL + userData.email_hash}}?s=20"></img>
            <span>&nbsp;{{userData.firstname}}&nbsp;{{userData.lastname}}&nbsp;</span>
        </button>

        <button type="button" class="btn btn-default admin">
            <span class="glyphicon glyphicon-cog"></span>
            <span class="tooltip"
                sdm-popover
                sdm-popover-template-text="Admin"
                sdm-popover-class="sdm-tooltip"
                sdm-popover-show="mouseenter"
                sdm-popover-hide="mouseleave"
                sdm-popover-show-timeout="400"
                sdm-popover-hide-timeout="0"
                sdm-tooltip-style
                sdm-tooltip-x="12"
                sdm-tooltip-y="32">
            </span>
        </button>

        <button type="button" class="btn btn-default logout" ng-click="logout();">
            <span class="glyphicon glyphicon-log-out login-glyph"> </span>
            <span class="tooltip"
                sdm-popover
                sdm-popover-template-text="Logout"
                sdm-popover-class="sdm-tooltip"
                sdm-popover-show="mouseenter"
                sdm-popover-hide="mouseleave"
                sdm-popover-show-timeout="400"
                sdm-popover-hide-timeout="0"
                sdm-tooltip-style
                sdm-tooltip-x="12"
                sdm-tooltip-y="32">
            </span>
        </button>
    </div>
</div>



