<div ng-if='!userData.logged_in' id="logged-out">
    <!-- Only show stuff to authenticate when user is not logged in -->
    <a id="login" class="login" ng-click="authenticate()">Login</a>
</div>
<div ng-if="userData.logged_in != null" id="logged-in">
    <div class="user-preferences" sdm-popover sdm-popover-template-content="components/userPreferences/preferencesContentPopover.html" sdm-popover-style-top="61px" sdm-popover-style-height="160px" sdm-popover-style-width="320px" sdm-popover-style-left="-279px" sdm-popover-class="sdm-user-preferences" sdm-popover-show="mouseenter" sdm-popover-hide="mouseleave">
        <img ng-src="{{gravatarURL + userData.email_hash}}?s=50"></img>
    </div>
    <div class="user-text">{{userData.firstname}} {{userData.lastname}}</div>
    <a id="logout" class="logout" ng-click="logout()">Logout</a>
    <span class="glyphicon glyphicon-cog" sdm-popover
        sdm-popover-template-content="components/admin/adminModal.html"
        sdm-popover-class="sdm-admin-modal"
        sdm-popover-show="click"
        sdm-popover-show-timeout="0"
        sdm-popover-style-width="900px"
        sdm-popover-style-height="700px"
        sdm-append-to-body>
        <span class="tooltip"
            sdm-popover
            sdm-popover-template-text="Admin"
            sdm-popover-class="sdm-tooltip"
            sdm-popover-show="mouseenter"
            sdm-popover-hide="mouseleave"
            sdm-popover-show-timeout="400"
            sdm-popover-hide-timeout="0"
            sdm-tooltip-style
            sdm-tooltip-x="7"
            sdm-tooltip-y="20">
        </span>
    </span>
</div>



