<div class="toolbar" ng-controller="SdmButtonsController as sdmButtonsController">
    <button type="button" class="refresh disabled btn-xs" ng-click="sdmButtonsController.refreshView()">
        <span class="glyphicon glyphicon-refresh toolbar-icon">
        </span>
    </button>
    <div class="btn-group btn-group-xs" role="group">
        <button type="button"
                class="btn btn-default"
                ng-click="sdmButtonsController.layout('table')"
                ng-class="{active:sdmButtonsController.isActiveButton('table')}">
            <span class="glyphicon glyphicon-th-list toolbar-icon">
            </span>
        </button>
        <button type="button"
                class="btn btn-default"
                ng-click="sdmButtonsController.layout('tree')"
                ng-class="{active:sdmButtonsController.isActiveButton('tree')}">
            <span class="glyphicon glyphicon-tree-conifer toolbar-icon">
            </span>
        </button>
    </div>
    <button type="button" class="refresh disabled btn-xs">
        <span class="glyphicon glyphicon-cloud-download toolbar-icon">
        </span>
    </button>
    <button type="button" class="refresh disabled btn-xs">
        <span class="glyphicon glyphicon-trash toolbar-icon" ng-show="sdmButtonsController.location() === '/projects'">
        </span>
        <span class="glyphicon glyphicon-remove-circle toolbar-icon" ng-show="sdmButtonsController.location() === '/collections'">
        </span>
    </button>
    <button type="button" class="refresh disabled btn-xs" sdm-popover sdm-popover-template-content="components/createCollection/modalCreateCollection.html" sdm-popover-class="sdm-create-collection" sdm-popover-show="click" sdm-append-to-body>
        <span class="glyphicon glyphicon-briefcase toolbar-icon">
        </span>
    </button>
</div>
