<div class="toolbar" ng-controller="SdmButtonsController as sdmButtonsController">
    <button id="sdm-refresh-button" type="button" class="refresh disabled btn-xs" ng-click="sdmButtonsController.refreshView($event)" ng-disabled="sdmButtonsController.location().search('/search|/upload') > -1">
        <span class="glyphicon glyphicon-refresh toolbar-icon">
        </span>
        <span class="tooltip"
            sdm-popover
            sdm-popover-template-text="Refresh"
            sdm-popover-class="sdm-tooltip"
            sdm-popover-show="mouseenter"
            sdm-popover-hide="mouseleave"
            sdm-popover-show-timeout="400"
            sdm-popover-hide-timeout="0"
            sdm-tooltip-style
            sdm-tooltip-x="12"
            sdm-tooltip-y="32">
        </span>
    </button>
    <div class="btn-group btn-group-xs" role="group">
        <button type="button"
                class="btn btn-default table-view"
                ng-click="sdmButtonsController.layout('table')"
                ng-class="{active:sdmButtonsController.isActiveButton('table') && sdmButtonsController.location() !== '/upload'}"
                ng-disabled="sdmButtonsController.location() === '/upload'">
            <span class="glyphicon glyphicon-th-list toolbar-icon">
            </span>
            <span class="tooltip"
                sdm-popover
                sdm-popover-template-text="Table View"
                sdm-popover-class="sdm-tooltip"
                sdm-popover-show="mouseenter"
                sdm-popover-hide="mouseleave"
                sdm-popover-show-timeout="400"
                sdm-popover-hide-timeout="0"
                sdm-tooltip-style
                sdm-tooltip-x="12"
                sdm-tooltip-y="32">
            </span>
        </button>
        <button type="button"
                class="btn btn-default tree-view"
                ng-click="sdmButtonsController.layout('tree')"
                ng-class="{active:sdmButtonsController.isActiveButton('tree')}"
                ng-disabled="sdmButtonsController.location().search('/search|/upload') > -1">
            <span class="glyphicon glyphicon-tree-conifer toolbar-icon">
            </span>
            <span class="tooltip"
                sdm-popover
                sdm-popover-template-text="Tree View"
                sdm-popover-class="sdm-tooltip"
                sdm-popover-show="mouseenter"
                sdm-popover-hide="mouseleave"
                sdm-popover-show-timeout="400"
                sdm-popover-hide-timeout="0"
                sdm-tooltip-style
                sdm-tooltip-x="12"
                sdm-tooltip-y="32">
            </span>
        </button>
    </div>
    <div class="btn-group btn-group-xs" role="group">
        <button type="button" class="btn btn-default" sdm-popover sdm-popover-template-content="components/createCollection/modalCreateCollection.html" sdm-popover-class="sdm-create-collection" sdm-popover-show="click" sdm-popover-show-timeout="0" sdm-append-to-body ng-disabled="!sdmButtonsController.selectionButtonsEnabled()">
            <span class="glyphicon glyphicon-briefcase toolbar-icon">
            </span>
            <span class="tooltip"
                sdm-popover
                sdm-popover-template-text="Create Collection"
                sdm-popover-class="sdm-tooltip"
                sdm-popover-show="mouseenter"
                sdm-popover-hide="mouseleave"
                sdm-popover-show-timeout="400"
                sdm-popover-hide-timeout="0"
                sdm-tooltip-style
                sdm-tooltip-x="12"
                sdm-tooltip-y="32">
            </span>
        </button>
        <button type="button" class="btn btn-default" sdm-popover sdm-popover-template-content="components/download/modalDownload.html" sdm-popover-class="sdm-download" sdm-popover-show="click" sdm-popover-style-top="84px" sdm-popover-style-height="160px" sdm-popover-style-width="320px" sdm-popover-style-right="67px" sdm-popover-style-left="initial"sdm-popover-show-timeout="0" sdm-append-to-body ng-disabled="!sdmButtonsController.selectionButtonsEnabled()">
            <span class="glyphicon glyphicon-cloud-download toolbar-icon">
            </span>
            <span class="tooltip"
                sdm-popover
                sdm-popover-template-text="Download"
                sdm-popover-class="sdm-tooltip"
                sdm-popover-show="mouseenter"
                sdm-popover-hide="mouseleave"
                sdm-popover-show-timeout="400"
                sdm-popover-hide-timeout="0"
                sdm-tooltip-style
                sdm-tooltip-x="12"
                sdm-tooltip-y="32">
            </span>
        </button>
        <button type="button" class="btn btn-default" ng-show="sdmButtonsController.location() === '/projects'" sdm-popover sdm-popover-template-content="components/moveSessions/moveSessionsPopover.html" sdm-popover-class="sdm-move-sessions" sdm-popover-show="click" sdm-popover-style-top="84px" sdm-popover-style-height="160px" sdm-popover-style-width="320px" sdm-popover-style-right="42px" sdm-popover-style-left="initial" sdm-popover-show-timeout="0" sdm-append-to-body ng-disabled="!sdmButtonsController.selectionButtonsEnabled()">
            <span class="glyphicon glyphicon-arrow-right toolbar-icon">
            </span>
            <span class="tooltip"
                sdm-popover
                sdm-popover-template-text="Move Sessions"
                sdm-popover-class="sdm-tooltip"
                sdm-popover-show="mouseenter"
                sdm-popover-hide="mouseleave"
                sdm-popover-show-timeout="400"
                sdm-popover-hide-timeout="0"
                sdm-tooltip-style
                sdm-tooltip-x="12"
                sdm-tooltip-y="32">
            </span>
        </button>
        <button type="button" class="btn btn-default" ng-disabled="!sdmButtonsController.selectionButtonsEnabled()">
            <span class="glyphicon glyphicon-trash toolbar-icon" ng-show="sdmButtonsController.location() !== '/collections'">
            </span>
            <span class="tooltip"
                sdm-popover
                sdm-popover-template-text="Trash"
                sdm-popover-class="sdm-tooltip"
                sdm-popover-show="mouseenter"
                sdm-popover-hide="mouseleave"
                sdm-popover-show-timeout="400"
                sdm-popover-hide-timeout="0"
                sdm-tooltip-style
                sdm-tooltip-x="12"
                sdm-tooltip-y="32"
                ng-show="sdmButtonsController.location() === '/projects'">
            </span>
            <span class="glyphicon glyphicon-remove-circle toolbar-icon" ng-show="sdmButtonsController.location() === '/collections'">
            </span>
            <span class="tooltip"
                sdm-popover
                sdm-popover-template-text="Remove"
                sdm-popover-class="sdm-tooltip"
                sdm-popover-show="mouseenter"
                sdm-popover-hide="mouseleave"
                sdm-popover-show-timeout="400"
                sdm-tooltip-style
                sdm-tooltip-x="12"
                sdm-tooltip-y="32"
                ng-show="sdmButtonsController.location() === '/collections'">
            </span>

        </button>
    </div>
</div>
