<div class="sdm-actions" ng-show="sdmButtonsController.location() !== '/upload'">
    <div class="btn-group" dropdown is-open="sdmButtonsController.status.isopen">
      <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle>
        Actions <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right" role="menu">
        <li ng-show="sdmButtonsController.location() === '/projects'"><a href=""
            sdm-popover
            sdm-popover-template-content="components/createNewProject/createNewProjectModal.html"
            sdm-popover-class="sdm-create-project"
            sdm-popover-show="click"
            sdm-popover-style-height="160px"
            sdm-popover-style-width="320px"
            sdm-popover-show-timeout="0"
            sdm-append-to-body>Create Project</a></li>
        <li ng-show="sdmButtonsController.selectionButtonsEnabled()"><a href=""
            sdm-popover
            sdm-popover-template-content="components/createCollection/modalCreateCollection.html"
            sdm-popover-class="sdm-create-collection"
            sdm-popover-show="click"
            sdm-popover-show-timeout="0"
            sdm-append-to-body>Add to Collection</a></li>
        <li ng-show="sdmButtonsController.selectionButtonsEnabled()"><a href=""
            sdm-popover sdm-popover-template-content="components/download/modalDownload.html" sdm-popover-class="sdm-download" sdm-popover-show="click" sdm-popover-style-height="160px" sdm-popover-style-width="320px" dm-popover-show-timeout="0" sdm-append-to-body>Download</a></li>
        <li ng-show="sdmButtonsController.selectionButtonsEnabled()"><a href="" ng-show="sdmButtonsController.location() === '/projects'" sdm-popover sdm-popover-template-content="components/moveSessions/moveSessionsPopover.html" sdm-popover-class="sdm-move-sessions" sdm-popover-show="click" sdm-popover-show-timeout="0" sdm-append-to-body sdm-popover-style-height="160px" sdm-popover-style-width="320px">Move sessions</a></li>
        <li ng-show="sdmButtonsController.selectionButtonsEnabled()"><a href="" ng-show="sdmButtonsController.location() === '/collections'" sdm-popover sdm-popover-template-content="components/removeCollection/removeCollectionPopover.html" sdm-popover-class="sdm-remove-collection" sdm-popover-show="click" sdm-popover-style-height="160px" sdm-popover-style-width="320px" sdm-popover-show-timeout="0" sdm-append-to-body>Remove</a></li>
        <li class="disabled" ng-show="!sdmButtonsController.selectionButtonsEnabled()">Add to Collection</li>
        <li class="disabled" ng-show="!sdmButtonsController.selectionButtonsEnabled()">Download</li>
        <li class="disabled" ng-show="!sdmButtonsController.selectionButtonsEnabled() && sdmButtonsController.location() === '/projects'">Move sessions</li>
        <li class="disabled" ng-show="!sdmButtonsController.selectionButtonsEnabled() && sdmButtonsController.location() === '/collections'">Remove</li>
      </ul>
    </div>
</div>
<div>
  <div class="radio-group view-type" ng-if="sdmButtonsController.location().search('/search|/upload') === -1">
    <div class="radio">
      <label>
        <input type="radio" name="viewType" value="table" ng-checked="sdmButtonsController.isActiveButton('table')" ng-click="sdmButtonsController.layout('table')" >
        Table
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="viewType" value="tree" ng-checked="sdmButtonsController.isActiveButton('tree')" ng-click="sdmButtonsController.layout('tree')" >
        Tree
      </label>
    </div>
  </div>
  <div class="radio-group user-access" ng-if="sdmButtonsController.userData.wheel">
    <div class="radio">
      <label>
        <input type="radio" name="userAccess" value="default" ng-checked="!sdmButtonsController.userData.root" ng-click="sdmButtonsController.toggleSuperUser()">
        Default
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="userAccess" value="superuser" ng-checked="sdmButtonsController.userData.root" ng-click="sdmButtonsController.toggleSuperUser()">
        Site Admin
      </label>
    </div>
  </div>
  <div class="view-label">
    View:
  </div>
</div>
