<sdm-tree-data-modal>
    <div class="tree-data-title">Generate Data Tree<span class="spinner" ng-show="sdmTDController.loadingState > 0"></span></div>
    <form class="tree-data-confirm-buttons" ng-submit="sdmTDController.open($event)">
        <input type="button" id="tree-data-cancel" class="btn btn-default btn-xs" ng-click="sdmTDController.cancel($event)" value="Cancel"></input>
        <input type="submit" id="tree-data-open" class="btn btn-default btn-xs" value="Open" ng-disabled="sdmTDController.loadingState > 0"></input>
    </form>
</sdm-tree-data-modal>
