<!--img ng-src="{{$parent.$parent.sdmIMController.resourceViewer.fileUrl}}"></img-->
<!--object data="{{$parent.$parent.sdmIMController.resourceUrl}}" type="application/pdf"></object-->
<sdm-viewer sdm-file-properties="$parent.$parent.sdmIMController.resourceViewer"></sdm-viewer>
    <!--iframe src="{{$parent.$parent.sdmIMController.resourceViewer.fileUrl}}"></iframe-->

<div class="sdm-viewer-buttons">
    <input type="button" class="btn btn-default btn-xs" value="Close" ng-click="hidePopover($event, 0)">
</div>
