@import (less) "../../variables.less";

@sdm-content-top: 110px;

sdm-admin-modal {
    div#sdm-table-root {
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        min-width: 600px;
        border-style: none;
        input[type=checkbox] {
            display: none;
        }
    }
    div#sdm-main-table-content {
        padding-bottom: 10px;
    }

    div.admin-title {
        padding: 20px 40px 0px 40px;
        margin-bottom: 10px;
        height: 60px;
        border-radius: 4px 4px 0 0;
        border-bottom: solid 1px @mediumGray;
        font-weight: bold;
        background-color: @lightestGray;
    }
    ul.nav.nav-tabs {
        margin-left: 40px;
        margin-right: 40px;
    }
    button.btn-xs {
        position: absolute;
        bottom: 10px;
        right: 20px;
    }
}
div.sdm-admin-modal {
    .popover-dialog:before, .popover-dialog:after {
        top: 0px;
        left: 95%;
        border-left: none;
        border-right: none;
        border-bottom: none;
    }
    .popover-dialog {
        border: none;
        box-shadow: 0px 2px 6px @darkGray;
        font-family: 'proxima-nova', "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    .popover-overlay {
        background-color: lightgray;
    }
}

div#sdm-admin-content {
    position: absolute;
    top: @sdm-content-top;
    left: 40px;
    right: 40px;
    bottom: 41px;
    border-top: none;
}

div.sdm-edit-groups {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    padding-top: 10px;
    .form-control.default {
        font-style: italic;
        color: grey;
    }

    form {
        margin: 0;

    }

    .sdm-input-divider {
        flex: 1;
        font-weight: 500;
    }
    div#group-permissions {
        margin-top: 10px;
        #group-permissions-title {
            font-weight: 600;
            border-bottom: 1px solid @mediumGray;
            padding-bottom: 4px;
        }
        input.typeahead {
            width: 400px;
        }
        /*
        .enable-input input.tt-hint {
            visibility: hidden;
        }*/
        div.tt-dataset-users {
            padding-left: 10px;
            border: 1px solid lightgrey;
            height: 120px;
            width: 270px;
            background: white;
            overflow: scroll;
        }
        .permissions-body {
            margin-top: 10px;
            border: 0px solid @mediumGray;
            border-width: 1px;
            overflow: scroll;
            max-height: 170px;
            .permission-name {
                padding-left: 10px;
            }
            .flex-row {
                border: 0px solid @mediumGray;
                border-top-width: 1px;
                align-items: center;
                padding: 4px 0;
                &.gray {
                    background-color: @lightestGray;
                }
                &.first-body {
                    border-top-width: 0;
                }
                .sdm-input-cell {
                    margin-top: 0;
                    &.remove {
                        text-align: center;
                        color: @blue;
                    }
                    &.select {
                        padding-left: 0px;
                    }
                }
            }
        }
        .flex-row {
            .sdm-input-cell {
                &.remove-header {
                    text-align: center;
                    vertical-align: bottom;
                    align-self: flex-end;
                }
            }
        }

    }
    input.btn {
        &.form-control {
            width: auto;
        }
    }
    .sdm-groups-buttons {
        position: absolute;
        bottom: -25px;
        right: 0px;
        input.btn.save {
            color: white;
            background-color: @blue;
        }
    }
    .warning-success {
        position: absolute;
        left: 0px;
        bottom: -25px;
        color: @orange;
        visibility: hidden;
        &.visible {
            visibility: visible;
        }
    }
    .warning-create {
        color: @orange;
        //visibility: hidden;
        &.visible {
            visibility: visible;
        }
    }
}

div.sdm-edit-users {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    padding-top: 10px;
    form {
        margin: 0;
    }
    .sdm-input-cell {
        margin-top: 15px;
        &.user-remove {
            align-self: flex-end;
        }
        .sdm-input-label {
            margin-bottom: 5px;

        }
        .clear-form {
            width: 100%;
            height: 34px;
            text-align: left;
            color: @mediumGray;
            &:hover {
                background-color: @lightestGray;
                color: @darkGray;
            }
        }
        .select-role {
            height: 34px;
            label {
                margin-top: 4px;
            }
        }
    }
    input.btn-sm {
        margin-top: 10px;
    }
    .twitter-typeahead {
        width: 100%;
    }
    .tt-dataset-users {
        padding-left: 10px;
        border: 1px solid lightgrey;
        height: 120px;
        width: 100%;
        background: white;
        overflow: scroll;
    }
    .tt-selectable, .tt-menu {
        width: 100%;
    }
    .sdm-form-body {
        border-top: 1px solid black;
        margin-top: 20px;
        padding-top: 20px;
    }
    .sdm-user-buttons {
        position: absolute;
        bottom: -25px;
        right: 0px;
        input.btn.save {
            color: white;
            background-color: @blue;
        }
    }
}
