<sdm-create-user>
    <div class="create-user-header">
        <span class="glyphicon glyphicon-remove" ng-click="sdmCUController.cancel($event)"></span>
    </div>
    <div class="create-user-title">Create New User</div>
    <div class="create-user-warning">
        User does not exist. Do you want to create it?
    </div>
    <form name="form" class="create-user">
        <div create-user-body>
            <div class="sdm-input-label">First Name</div>
            <input class="form-control" type="text" ng-model="sdmCUController.userFirstName" placeholder="{{sdmCUController.firstNamePlaceholder}}" required name="userFirstName">
            </input>
            <div class="sdm-input-label">Last Name</div>
            <input class="form-control" type="text" ng-model="sdmCUController.userLastName" placeholder="{{sdmCUController.lastNamePlaceholder}}" required name="userLastName">
            </input>
            <div class="sdm-input-label">User ID</div>
            <input class="form-control" type="email" ng-model="sdmCUController.userID" placeholder="{{sdmCUController.userIDPlaceholder}}" required name="userID">
            </input>
            <div class="sdm-input-label">Email</div>
            <input class="form-control" type="email" ng-model="sdmCUController.email" placeholder="{{sdmCUController.emailPlaceholder}}" name="userID">
            </input>
            <input type="checkbox" ng-model="sdmCUController.superuser" name="superuser"> Create as superuser
        </div>
        <div class="create-user-confirm-buttons">
            <input type="button" id="create-user-cancel" class="btn btn-default btn-xs" ng-click="sdmCUController.cancel($event)" value="Cancel"></input>
            <input id="create-user-save" type="submit" class="btn btn-default btn-xs" ng-click="sdmCUController.save($event, form)" value="Save"></input>
        </div>
    </form>
</sdm-create-user>
