@import (less) "../../variables.less";

div.sdm-user-preferences {
    .popover-dialog {
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        font-family: 'proxima-nova', "Helvetica Neue", Helvetica, Arial, sans-serif;
        border: none;
        box-shadow: 0px 0px 6px @darkGray;
    }

    .popover-dialog:before, .popover-dialog:after {
        top: 0px;
        left: 95%;

    }
    .popover-dialog:after {
        border-bottom-color: @lightestGray;

    }
    .popover-dialog:before {
        border-bottom-color: transparent;
    }
}

sdm-update-user-preferences .user-preferences-header {
    * {
        display: inline
    }
    .user-preferences-buttons {
        float: right;
        div {
            color: @mediumGray;
            padding-left: 5px;
            &#user-preferences-cancel, &#user-preferences-save {
                color: black;
            }
        }
        padding-right: 3px;
        padding-top: 2px;
    }
    input {
        width: 90px;
    }
    div {
        font-size: 12px;
        &.username {
            font-weight: bold;
            font-size: 18px;
        }
    }
    padding: 5px;
    background-color: @lightestGray;
    border-bottom: solid 1px @mediumGray;
    border-radius: 4px 4px 0 0;
    max-height: 34px;
}


sdm-update-user-preferences .user-preferences-image {
    float: left;
    //width: 200px;
    padding-right: 10px;
    padding-left: 5px;
    padding-top: 5px;
}

sdm-update-user-preferences .user-preferences-input {
    padding-left: 5px;
    width: 180px;
    display: inline;
    div {
        display: block;
        height: 24px;
    }
    label {
        width: 40px;
    }
    input {
        position: relative;
        top: -3px;
        left: -3px;
        width: 153px;
    }
    span {
        float: left;
        &.input-placeholder {
            width: 153px;
        }
        &.sdm-input-label {
            font-weight: bold;
            width: 42px;
        }
    }

}
