@import (less) "../../active_config/variables.less";

div.sdm-info-modal {
    .popover-dialog {
        height: 600px;
        width: 600px;
    }

    .popover-dialog:before, .popover-dialog:after {
        top: 0px;
        left: 95%;
        border-left: none;
        border-right: none;
        border-bottom: none;
    }
    .popover-overlay {
        background-color: lightgray;
    }

}

sdm-info-modal {
    .field-name {
        font-weight: bold;
    }
    div#permissions-title, div#attachments-title  {
        padding-top: 0px;
        padding-bottom: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 0px;
        margin-right: 0px;
        font-size: 18px;
        font-variant: small-caps;
        background-color: @bgcol2;
        color: @fgcol2;
        span.expand {
            position: relative;
            top: 1px;
            font-size: 16px;
            margin-left: 5px;
            font-variant: normal;
            float: right;
        }


    }

    textarea {
        max-height: 60px;
        max-width: 100%;
    }

    div.sdm-upload-files {
        padding-left: 10px;
        padding-right: 10px;
        div.attachments-header table {
            border: 1px solid lightgrey;

            margin-bottom: 0px;
            td {
                width: 200px;
            }
        }
        div.attachments-body {

            height: 100px;
            overflow: scroll;
            border: 1px solid lightgrey;

            border-top: none;
            table.table {
                margin-top: 0px;
                margin-bottom: 0px;
                td {
                    border-top: none;
                    width: 200px;
                    .glyphicon.disabled {
                        color: lightgrey;
                    }
                    &.permissions-access {
                        padding-left: 0px;
                        select {
                            width: 103px;
                        }
                    }
                    vertical-align: middle;
                }

            }
        }
    }

    div.info-modal-path{
        padding: 0px;
        padding-left: 10px;
        font-weight: bold;
        border-bottom: solid white 1px;
        background-color: @bgcol1;
        color: @fgcol1;
        span.glyphicon {
            font-size: 11px;
            top: 0px;
        }
        span.glyphicon.glyphicon-remove {
            float: right;
            padding-right: 5px;
            padding-top: 4px;
        }
    }

    div.info-modal-title{
        padding-left: 10px;
        padding-right:10px;
        margin-top: 0px;
        font-size: 24px;
        margin-bottom: 10px;
        //padding-bottom: 0px;
        font-weight: bold;
        font-variant: small-caps;
        text-transform: capitalize;
        background-color: @bgcol2;
        color: @fgcol2;
        span {
            text-transform: none;
            font-variant: normal;
            font-size: 20px;
        }
    }

    div.info-modal-body {
        padding-left: 10px;
        padding-right: 10px;
    }



    div.info-modal-confirm-buttons {
        padding-left: 10px;
        position: absolute;
        bottom: 10px;
        right: 10px;
        text-align: right;
    }

    div#info-change-permissions {
        span.twitter-typeahead {
            margin-left: 10px;
        }

        input.typeahead {
            width: 287px;
            &.sdm-invalid {
                border: 1px solid red;
                box-shadow: 0px 0px 4px fade(red, 60%);
                &:focus {
                    border: 1px solid red;
                    box-shadow: 0px 0px 4px fade(red, 60%);
                }
            }
            &.sdm-operation-success {
                border: 1px solid lawngreen;
                box-shadow: 0px 0px 4px fade(lawngreen, 60%);
                &:focus {
                    border: 1px solid lawngreen;
                    box-shadow: 0px 0px 8px fade(lawngreen, 60%);
                }
            }
        }
        div.tt-dataset-users {
            padding-left: 10px;
            border: 1px solid lightgrey;
            height: 120px;
            width: 287px;
            background: white;
            overflow: scroll;
        }
        select {
            position: relative;
            top: 6px;
        }
        input.create-user {
            position: relative;
            top: 6px;
        }
        span.add-user {
            position: relative;
            top: 12px;
            font-size: 20px;
            margin-left: 5px;
        }
    }

    div#info-permissions {
        margin-top: 5px;
        padding-left: 0px;
        padding-right:0px;
        &>* {
            margin-left: 10px;
            margin-right: 10px;
        }
        &>div#info-change-permissions {
            margin-left: 0px;
            margin-right: 0px;
        }
        &>#permissions-title {
            margin-left: 0px;
            margin-right: 0px;
        }

        div.permissions-header table {
            border: 1px solid lightgrey;

            margin-bottom: 0px;
            td {
                width: 200px;
            }
        }
        div.permissions-body {

            height: 100px;
            overflow: scroll;
            border: 1px solid lightgrey;

            border-top: none;
            table.table {
                margin-top: 0px;
                margin-bottom: 0px;
                td {
                    border-top: none;
                    width: 200px;
                    .glyphicon.disabled {
                        color: lightgrey;
                    }
                    &.permissions-access {
                        padding-left: 0px;
                        select {
                            width: 103px;
                        }
                    }
                    vertical-align: middle;
                }

            }
        }

    }

    div.info-modal-warning {
        padding: 10px;
        color: red;
        float: right;
    }

    .sdm-input-label {
        padding-left: 0px;
        padding-right: 0px;
        float: left;
        width: 100%;
        font-weight: bold;
    }
    .drop-box {
        background: #F8F8F8;
        border: 5px dashed #DDD;
        width: 200px;
        height: 65px;
        text-align: center;
        padding-top: 6px;
        //margin-bottom: 10px;
        display: inline-block;
    }
    .progress-container {
        div {
            margin-bottom: 5px;
            input {
                float: right;
                width: 50px;
            }
        }
        .progress {
            width: 360px;
            //margin-bottom: 0px;
        }
        //width: 360px;
        height: 65px;
        top: -2px;
        position: relative;
        display: inline-block;
        left: 15px;
    }
    .error-message {
        color: red;
    }

    .dragover {
        border: 5px dashed blue;
    }

}
