<sdm-info-toolbar>
        <span class="sdm-btn" sdm-popover sdm-popover-template-content="components/infoToolbar/infoModal.html" sdm-popover-class="sdm-info-modal" sdm-popover-show="click" sdm-popover-show-timeout="0" sdm-append-to-body>
            <span class="glyphicon glyphicon-info-sign">

            </span>
            <span class="tooltip"
                sdm-popover
                sdm-popover-template-text="Information"
                sdm-popover-class="sdm-tooltip"
                sdm-popover-show="mouseenter"
                sdm-popover-hide="mouseleave"
                sdm-popover-show-timeout="400"
                sdm-popover-hide-timeout="0"
                sdm-tooltip-style
                sdm-tooltip-x="8"
                sdm-tooltip-y="30">
            </span>
        </span>
        <span class="sdm-btn">
            <span class="glyphicon glyphicon-cloud-download">
            </span>
            <span class="tooltip"
                sdm-popover
                sdm-popover-template-text="Download"
                sdm-popover-style-width="64px"
                sdm-popover-style-left="-24px"
                sdm-popover-style-top="30px"
                sdm-popover-class="sdm-tooltip"
                sdm-popover-show="mouseenter"
                sdm-popover-hide="mouseleave"
                sdm-popover-show-timeout="400"
                sdm-popover-hide-timeout="0"
                sdm-tooltip-style
                sdm-tooltip-x="8"
                sdm-tooltip-y="30">
            </span>
        </span>
        <span class="sdm-btn" ng-show="sdmTBController.location === '/projects'">
            <span class="glyphicon glyphicon-trash">
            </span>
            <span class="tooltip"
                sdm-popover
                sdm-popover-template-text="Trash"
                sdm-popover-style-width="42px"
                sdm-popover-style-left="-13px"
                sdm-popover-style-top="30px"
                sdm-popover-class="sdm-tooltip"
                sdm-popover-show="mouseenter"
                sdm-popover-hide="mouseleave"
                sdm-popover-show-timeout="400"
                sdm-popover-hide-timeout="0"
                sdm-tooltip-style
                sdm-tooltip-x="8"
                sdm-tooltip-y="30">
            </span>
        </span>
        <span class="sdm-btn" ng-show="sdmTBController.location === '/collections'" ng-click="sdmTBController.toggleDeleteButton()">
            <span class="glyphicon glyphicon-remove-circle">
            </span>
            <span class="tooltip"
                sdm-popover
                sdm-popover-template-text="Delete"
                sdm-popover-style-width="42px"
                sdm-popover-style-left="-13px"
                sdm-popover-style-top="30px"
                sdm-popover-class="sdm-tooltip"
                sdm-popover-show="mouseenter"
                sdm-popover-hide="mouseleave"
                sdm-popover-show-timeout="400"
                sdm-popover-hide-timeout="0"
                sdm-tooltip-style
                sdm-tooltip-x="8"
                sdm-tooltip-y="30">
            </span>
    </span>
</sdm-info-toolbar>
