@import (less) "../../active_config/variables.less";

div.popover.sdm-info-toolbar {
    position: relative;
    overflow: visible;
    top: 0px;
    left: 0px;
    height: 32px;
    &.sdm-note-tooltip .popover-dialog {
        background-color: @bgcol3;
        &:after {
            border-bottom: 6px solid @bgcol3;;
        }
    }
    div.notes-tooltip {
        height: 100%;
        width: 100%;
        font-size: 1.5ex;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        overflow: scroll;
        word-wrap: break-word;
        //color: white;

        //text-overflow: ellipsis;
        //white-space: nowrap;
    }
}

div.popover.sdm-info-toolbar .popover-dialog {
    //position: ;
    padding: 5px;
    top: 22px;
    left: -4px;
    width: 84px;
    overflow: visible;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    &:before {
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 7px solid black;
        top: 0px;
        left: 10px;
    }
    &:after {
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 6px solid white;
        top: 0px;
        left: 10px;
    }
    input.btn {
        position: relative;
        top: -3px;
        height: 20px;
        width: 40px;
        padding-left: 2px;
        //padding-top: 0px;
    }
    span {
        color: @fgcol3;
    }
}
