<sdm-info-modal>
    <div class="info-modal-path" >
        <span ng-repeat="element in sdmIMController.path"> <span class="glyphicon glyphicon-chevron-right" ng-if="$index!==0"></span> {{element}}</span>
        <span class="glyphicon glyphicon-remove" ng-click="sdmIMController.close($event)"></span>
    </div>
    <div class="info-modal-title">{{sdmIMController.title}}<span>{{sdmIMController.name}}</span>
        <span class="spinner" ng-show="sdmIMController.loadingState < 3"></span></div>
    <div class="info-modal-body" ng-show="sdmIMController.loadingState === 3">
        <div ng-repeat="field in sdmIMController.data">
            <span class="field-name">{{field[0]}}:</span> {{field[1]}}</div>

        <div class="sdm-input-label">Notes</div><br>
        <textarea class="form-control" ng-model="sdmIMController.apiData.notes" ng-show="sdmIMController.canModify">
        </textarea>
        <div class="sdm-notes" ng-show="!sdmIMController.canModify">{{sdmIMController.apiData.notes}}</div>
        <div ng-if="sdmIMController.files.length" class="field-name">File list:</div>

        <div ng-repeat="file in sdmIMController.files">
            <a href ng-click="sdmIMController.download(file)">{{file.type}}: {{file.kinds.join(', ')}}</a> ({{file.size}} Bytes)
        </div>
    </div>
    <form name="form" ng-class="{error: form.hasErrors}" ng-show="sdmIMController.loadingState === 3">
        <div id="info-permissions" ng-show="sdmIMController.apiData.permissions">


            <div id="info-change-permissions" class="form-inline" ng-show="sdmIMController.isAdmin">
                <div id="permissions-title" class="sdm-input-label">Change permissions</div><br>
                <input class="typeahead form-control" type="text" placeholder="{{sdmIMController.permissionPlaceholder}}" ng-model="sdmIMController.selectedUID" name="newPermission" ng-class="{'ng-invalid': form.newPermission.hasErrors}"></input>
                <select class="form-control" ng-options="role.name for role in sdmIMController.roles" ng-model="sdmIMController.selectedRole"></select>
                <span class="glyphicon glyphicon-plus-sign" ng-click="sdmIMController.addUser($event, form)"></span>
                <input type="button" class="create-user btn btn-default" value="Create New User" ng-click="sdmIMController.createUserInModal($event)">
            </div>

            <div class="sdm-input-label">Permissions</div><br>
            <div class="permissions-header">
                <table class="table">
                    <thead>
                        <tr>
                            <td>User ID</td>
                            <td>Permissions</td>
                            <td>Remove</td>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="permissions-body">
                <table class="table">
                    <tbody>
                        <tr class='user-permission' ng-repeat="permission in sdmIMController.apiData.permissions">
                            <td>{{permission._id}}</td>
                            <td>{{permission.access}}</td>
                            <td>
                                <span class="glyphicon glyphicon-remove" ng-if="(permission._id!==sdmIMController.user.user_uid && sdmIMController.userPermission === 'admin') || sdmIMController.user.root" ng-click="sdmIMController.removeUser($index)"></span>
                                <span class="glyphicon glyphicon-remove disabled" ng-if="permission._id===sdmIMController.user.user_uid && !sdmIMController.user.root"></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="info-modal-confirm-buttons">
            <input type="button" id="info-modal-close" class="btn btn-default btn-xs" ng-click="sdmIMController.close($event)" value="Close"></input>
            <input type="button" id="info-modal-save" class="btn btn-default btn-xs" ng-click="sdmIMController.save($event)" ng-show="sdmIMController.canModify" value="Save"></input>
        </div>
    </form>
</sdm-info-modal>
