<sdm-info-modal>
    <div class="info-modal-path" >
        <span ng-repeat="element in sdmIMController.path"> <span class="glyphicon glyphicon-chevron-right" ng-if="$index!==0"></span> {{element}}</span>
        <span class="glyphicon glyphicon-remove" ng-click="sdmIMController.close($event)"></span>
    </div>
    <div class="info-modal-title">{{sdmIMController.title}}<span>{{sdmIMController.name}}</span>
        <span class="spinner" ng-show="sdmIMController.loadingState > 0"></span></div>
    <div class="info-modal-body" ng-show="sdmIMController.loadingState === 0">
        <div ng-repeat="field in sdmIMController.data">
            <span class="field-name">{{field[0]}}:</span> {{field[1]}}</div>

        <div class="sdm-input-label">Notes</div><br>
        <textarea class="form-control" ng-model="sdmIMController.apiData.notes" ng-show="sdmIMController.canModify">
        </textarea>
        <div class="sdm-notes" ng-show="!sdmIMController.canModify">{{sdmIMController.apiData.notes}}</div>
    </div>
    <div ng-if="sdmIMController.files.length">
        <div id="files-title" class="sdm-input-label" ng-show="sdmIMController.loadingState === 0 && (sdmIMController.userPermission === 'admin' || sdmIMController.userPermission === 'rw' || sdmIMController.user.root || (sdmIMController.userPermission === 'ro'))">
            File list
            <span class="expand" ng-click="sdmIMController.expandSection('files')">
                <span class="glyphicon glyphicon-chevron-right" ng-if="!sdmIMController.expandedFiles"></span>
                <span class="glyphicon glyphicon-chevron-down" ng-if="sdmIMController.expandedFiles"></span>
                <span class="tooltip"
                    sdm-popover
                    sdm-popover-template-text="Toggle Files view"
                    sdm-popover-class="sdm-tooltip"
                    sdm-popover-show="mouseenter"
                    sdm-popover-hide="mouseleave"
                    sdm-popover-show-timeout="400"
                    sdm-popover-hide-timeout="0"
                    sdm-tooltip-style
                    sdm-tooltip-x="10"
                    sdm-tooltip-y="32">
                </span>
            </span>
        </div>
        <div ng-show="sdmIMController.expandedFiles" class="sdm-view-files">
            <div class="files-header">
                <table class="table">
                    <thead>
                        <tr>
                            <td>File description</td>
                            <td>Size</td>
                            <td>Viewer</td>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="files-body">
                <table class="table">
                    <tbody>
                        <tr class='file' ng-repeat="file in sdmIMController.files">
                            <td><a href ng-click="sdmIMController.download(file)">{{file.type}}: {{file.kinds.join(', ')}}</a></td>
                            <td>{{sdmIMController.formatSize(file.size)}}</td>
                            <td>
                                <span class="glyphicon glyphicon-eye-open"
                                      ng-show="file.type === 'zip' && file.kinds.length === 1 && file.kinds[0] === 'montage'"
                                      sdm-popover sdm-popover-template-content="components/d3Viewer/tileViewer.html"
                                      sdm-popover-class="sdm-info-modal" sdm-popover-show="click"
                                      sdm-popover-show-timeout="0" sdm-popover-style-width="950px"
                                      sdm-popover-style-height="700px" sdm-append-to-body>
                                </span>
                                <span class="glyphicon glyphicon-eye-open"
                                    ng-show="file.type === 'nifti'"
                                    sdm-popover
                                    sdm-popover-template-content="components/papayaViewer/papayaViewer.html"
                                    sdm-popover-class="sdm-papaya-viewer"
                                    sdm-popover-show="click"
                                    sdm-popover-show-timeout="0"
                                    sdm-append-to-body ng-click="sdmIMController.viewFileInPapaya(file)">
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div id="attachments-title" class="sdm-input-label" ng-show="sdmIMController.loadingState === 0 && (sdmIMController.userPermission === 'admin' || sdmIMController.userPermission === 'rw' || sdmIMController.user.root || (sdmIMController.userPermission === 'ro' && sdmIMController.attachments.length))">
        Attachments
        <span class="expand" ng-click="sdmIMController.expandSection('attachments')">
            <span class="glyphicon glyphicon-chevron-right" ng-if="!sdmIMController.expandedAttachments"></span>
            <span class="glyphicon glyphicon-chevron-down" ng-if="sdmIMController.expandedAttachments"></span>
            <span class="tooltip"
                sdm-popover
                sdm-popover-template-text="Toggle attachments view"
                sdm-popover-class="sdm-tooltip"
                sdm-popover-show="mouseenter"
                sdm-popover-hide="mouseleave"
                sdm-popover-show-timeout="400"
                sdm-popover-hide-timeout="0"
                sdm-tooltip-style
                sdm-tooltip-x="10"
                sdm-tooltip-y="32">
            </span>
        </span>
    </div>
    <div class="sdm-upload-attachments" ng-show="sdmIMController.loadingState === 0 && sdmIMController.expandedAttachments">
        <sdm-upload ng-show="sdmIMController.userPermission === 'admin' || sdmIMController.userPermission === 'rw' || sdmIMController.user.root">
            <div ng-file-drop ng-file-select ng-model="sdmULController.newFiles" class="drop-box"
                drag-over-class="dragover" ng-multiple="true" allow-dir="true" ng-change="sdmULController.addFiles()">
                Drop files here or click to upload</div>
            <div class="progress-container" ng-show="sdmULController.uploadInProgress">
                <div>
                    <span class="upload-desc-wrap">
                        <span class="upload-desc">{{sdmULController.processingFileName}}</span>
                    </span>
                    <span  class="sha-alert">{{sdmULController.calculatingSHA1?'Calculating hash...':'Uploading file...'}}</span>
                    <input type="button" id="info-modal-upload-skip" class="btn btn-default btn-xs" ng-click="sdmULController.skipFile()" value="Skip">
                </div>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" ng-style="{width: sdmULController.progressPercentage + '%'}">
                        {{sdmULController.progressPercentage||0}}%
                    </div>
                </div>
                <div>{{sdmULController.processedFiles}} files uploaded out of {{sdmULController.queueLength}}
                    <input type="button" id="info-modal-upload-clear" class="btn btn-default btn-xs" ng-click="sdmULController.clearUploadFiles($event)" value="Abort">
                </div>
            </div>
            <div class="error-message" ng-show="sdmULController.errorMessage">
                {{sdmULController.errorMessage}}
            </div>
        </sdm-upload>
        <div ng-show="sdmIMController.attachments.length">
            <div class="attachments-header">
                <table class="table">
                    <thead>
                        <tr>
                            <td>Filename</td>
                            <td>Size</td>
                            <td>Viewer</td>
                            <td ng-show="sdmIMController.userPermission !== 'ro' || sdmIMController.user.root">Remove</td>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="attachments-body">
                <table class="table">
                    <tbody>
                        <tr class='attachment' ng-repeat="attachment in sdmIMController.attachments">
                            <td><a href ng-click="sdmIMController.downloadAttachment($index)">{{attachment.name + attachment.ext}}</a></td>
                            <td>{{sdmIMController.formatSize(attachment.size)}}</td>
                            <td>
                                <a href >
                                    <span class="glyphicon glyphicon-eye-open"
                                        ng-show="sdmIMController.hasPapayaViewer(attachment)"
                                        sdm-popover
                                        sdm-popover-template-content="components/papayaViewer/papayaViewer.html"
                                        sdm-popover-class="sdm-papaya-viewer"
                                        sdm-popover-show="click"
                                        sdm-popover-show-timeout="0"
                                        sdm-append-to-body ng-click="sdmIMController.viewAttachment(attachment)">
                                    </span>
                                    <span class="glyphicon glyphicon-eye-open"
                                        ng-show="!sdmIMController.hasPapayaViewer(attachment)"
                                        sdm-popover
                                        sdm-popover-template-content="components/genericViewer/genericViewer.html"
                                        sdm-popover-class="sdm-generic-viewer"
                                        sdm-popover-show="click"
                                        sdm-popover-show-timeout="0"
                                        sdm-append-to-body ng-click="sdmIMController.viewAttachment(attachment)">
                                    </span>
                                </a>
                            </td>
                            <td ng-show="sdmIMController.userPermission !== 'ro' || sdmIMController.user.root">
                                <span class="glyphicon glyphicon-remove" ng-click="attachment.confirmRemove=true" ng-show="!attachment.confirmRemove"></span>
                                <input type="button" class="btn btn-default btn-xs btn-danger" ng-click="sdmIMController.removeAttachment(attachment)" value="Delete" ng-show="attachment.confirmRemove"></input>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <form name="form" ng-class="{error: form.hasErrors}" ng-show="sdmIMController.loadingState === 0">
        <div id="info-permissions" ng-show="sdmIMController.apiData.permissions">
            <div id="info-change-permissions" class="form-inline" ng-show="sdmIMController.isAdmin">
                <div id="permissions-title" class="sdm-input-label">Change permissions
                <span class="expand" ng-click="sdmIMController.expandSection('permissions')">
                    <span class="glyphicon glyphicon-chevron-right" ng-if="!sdmIMController.expandedPermissions"></span>
                    <span class="glyphicon glyphicon-chevron-down" ng-if="sdmIMController.expandedPermissions"></span>
                    <span class="tooltip"
                        sdm-popover
                        sdm-popover-template-text="Toggle permissions view"
                        sdm-popover-class="sdm-tooltip"
                        sdm-popover-show="mouseenter"
                        sdm-popover-hide="mouseleave"
                        sdm-popover-show-timeout="400"
                        sdm-popover-hide-timeout="0"
                        sdm-tooltip-style
                        sdm-tooltip-x="10"
                        sdm-tooltip-y="32">
                    </span>
                </span></div>
                <span ng-show="sdmIMController.expandedPermissions" class="new-permission">
                    <input class="typeahead form-control" type="email" placeholder="{{sdmIMController.permissionPlaceholder}}" ng-model="sdmIMController.selectedUID" name="newPermission" ng-class="{'sdm-invalid': form.newPermission.hasErrors, 'sdm-operation-success': sdmIMController.success}">
                    <select class="form-control" ng-options="role.name for role in sdmIMController.roles" ng-model="sdmIMController.selectedRole"></select>
                    <span class="add-user" ng-click="sdmIMController.addUser($event, form)">
                        <span class="glyphicon glyphicon-plus-sign"></span>
                        <span class="tooltip"
                            sdm-popover
                            sdm-popover-template-text="Add Permission"
                            sdm-popover-class="sdm-tooltip"
                            sdm-popover-show="mouseenter"
                            sdm-popover-hide="mouseleave"
                            sdm-popover-show-timeout="400"
                            sdm-popover-hide-timeout="0"
                            sdm-tooltip-style
                            sdm-tooltip-x="10"
                            sdm-tooltip-y="32">
                        </span>
                    </span>
                </span>
            </div>
            <div ng-show="sdmIMController.expandedPermissions">
                <div class="sdm-input-label">Permissions</div><br>
                <div class="permissions-header">
                    <table class="table">
                        <thead>
                            <tr>
                                <td>User ID</td>
                                <td>Permissions</td>
                                <td>Remove</td>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="permissions-body">
                    <table class="table">
                        <tbody>
                            <tr class='user-permission' ng-repeat="permission in sdmIMController.apiData.permissions">
                                <td>{{permission._id}}</td>
                                <td class="permissions-access"><select class="form-control" ng-options="role.rid as role.name for role in sdmIMController.roles" ng-model="permission.access" ng-change="sdmIMController.arePermissionsChanged = true" ng-disabled="permission._id===sdmIMController.user.user_uid && !sdmIMController.user.root"></select></td>
                                <td>
                                    <span class="glyphicon glyphicon-remove" ng-if="(permission._id!==sdmIMController.user.user_uid && sdmIMController.userPermission === 'admin') || sdmIMController.user.root" ng-click="sdmIMController.removeUser($index, form)"></span>
                                    <span class="glyphicon glyphicon-remove disabled" ng-if="permission._id===sdmIMController.user.user_uid && !sdmIMController.user.root"></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="info-modal-warning" ng-show="sdmIMController.confirmDismiss">
            Are you sure you want do dismiss your pending changes?
        </div>
        <div class="info-modal-confirm-buttons">
            <input type="button" id="info-modal-close" class="btn btn-default btn-xs" ng-click="sdmIMController.close($event)" value="Close" ng-show="!sdmIMController.confirmDismiss" ng-disabled="sdmULController.uploadInProgress"></input>
            <input type="button" id="info-modal-dismiss" class="btn btn-default btn-xs btn-danger" ng-click="sdmIMController.dismiss($event)" value="Dismiss" ng-show="sdmIMController.confirmDismiss"></input>
            <input type="button" id="info-modal-save" class="btn btn-default btn-xs" ng-click="sdmIMController.save($event)" ng-show="sdmIMController.canModify" ng-disabled="sdmULController.uploadInProgress" value="Save"></input>
        </div>
    </form>
</sdm-info-modal>
