<sdm-download-modal>
    <div class="download-title">Download Files<span class="spinner" ng-show="sdmDLController.loadingState > 0"></span></div>
    <div id="download-body" ng-show="sdmDLController.loadedOnce">
        <div>File count: {{sdmDLController.fileCount}}</div>
        <div>Total size: {{sdmDLController.size}}</div>
    </div>
    <div id="error-body" ng-show="sdmDLController.error">
        {{sdmDLController.error}}
    </div>
    <form class="download-confirm-buttons" ng-submit="sdmDLController.download($event)">
        <input type="button" id="download-cancel" class="btn btn-default btn-xs" ng-click="sdmDLController.cancel($event)" value="Cancel"></input>
        <input type="submit" id="download-save" class="btn btn-default btn-xs" value="Download" ng-show="sdmDLController.responses" ng-disabled="sdmDLController.loadingState > 0"></input>
    </form>

</sdm-donwload-modal>
