div.sdm-metadata-modal {
    .popover-dialog {
        height: 90%;
        width: 95%;
        padding: 10px;
        overflow: scroll;
    }

    .popover-dialog:before, .popover-dialog:after {
        top: 0px;
        left: 95%;
        border-left: none;
        border-right: none;
        border-bottom: none;
    }
    .popover-overlay {
        background-color: lightgray;
    }

    .formly-field {
      margin-bottom: 16px;
    }

    .formly.row, .formly.row .formly-field {
      margin-bottom: 0;
    }

    .formly.row .formly-field:first-child {
      padding-left: 0;
    }

    .formly.row .formly-field:nth-last-child(2) {
      padding-right: 0;
    }

    .formly-field-group ng-form {
      margin: 0;
    }

    div.formly-field-group{
      -webkit-box-shadow: rgb(0, 0, 0) 0px 2px 6px 0px;
      box-shadow: rgb(0, 0, 0) 0px 2px 6px 0px;
      padding: 15px; border: 1px solid white;
      background-color: rgb(211, 211, 211);
      border-radius: 6px;
      h3 {
        margin-top: 0px;
      }
      label {
        height: 20px;
        padding-top:5px;

      }
    }


    input {
      width: auto !important;
      float: right;
    }
}
