.sdm-bbrowser-viewer {
    background-color: black;
    .popover-dialog {
        height: 600px;
        width: 600px;
    }

    .popover-dialog:before, .popover-dialog:after {
        top: 0px;
        left: 95%;
        border-left: none;
        border-right: none;
        border-bottom: none;
    }
    .sdm-bbrowser-button {
        position: absolute;
        bottom: 10px;
        left: 10px;
        z-index: 10001;
    }
}

#bbrowser-viewer {
  font-size: 18px;
  text-align: left;
}
