<div ng-controller="SdmSearchBoxController as sdmSearchBox">
    <div class="sdm-buttons sdm-search" ng-class="{'hidden-box': !sdmSearchBox.isBoxExpanded}">
        <div ng-include="'components/buttons/buttons.html'"
             ng-controller="SdmButtonsController as sdmButtonsController">
        </div>
    </div>
    <div id="sdm-search-box">
        <div id="sdm-search-box-title" ng-click="sdmSearchBox.toggleBox()">Search Criteria
            <span>
                <span class="glyphicon glyphicon-chevron-down" ng-show="sdmSearchBox.isBoxExpanded"></span>
                <span class="glyphicon glyphicon-chevron-right" ng-show="!sdmSearchBox.isBoxExpanded"></span>
            </span>
        </div>
        <div id="sdm-search-box-body" ng-class="{'hidden-box':!sdmSearchBox.isBoxExpanded}">
            <form name="sdmSearchBox.form" id="sdm-search-box-form" ng-submit="sdmSearchBox.search()" novalidate>
                <div id="sdm-search-form">
                    <div class="sdm-search-group">
                        <label for="projectName">Project Name</label>
                        <span class="input-group">
                            <select class="form-control" form="sdm-search-box-form" id="projectName" ng-class="{default:!sdmSearchBox.parameters.project_name && sdmSearchBox.parameters.project_name !== 0}" ng-options="project for project in sdmSearchBox.projectNames" ng-model="sdmSearchBox.parameters.project_name">
                            </select>
                        </span>
                    </div>
                    <div class="sdm-search-group">
                        <label for="groupName">Group Name</label>
                        <span class="input-group">
                            <select class="form-control" form="sdm-search-box-form" id="groupName" ng-class="{default:!sdmSearchBox.parameters.group_id && sdmSearchBox.parameters.group_name !== 0}" ng-options="group._id as group.name for group in sdmSearchBox.groups" ng-model="sdmSearchBox.parameters.group_id">
                            </select>
                        </span>
                    </div>
                    <div class="sdm-search-group">
                        <label for="description">Description</label>
                        <span class="input-group">
                            <input type="text" id="description" ng-model="sdmSearchBox.parameters.description">
                        </span>
                    </div>
                    <div class="sdm-search-group">
                        <label for="subjectCode">Subject Code</label>
                        <span class="input-group">
                            <input type="text" id="subjectCode" ng-model="sdmSearchBox.parameters.subj_code" placeholder="This is a unique ID">
                        </span>
                    </div>
                    <div class="sdm-search-group">
                        <label for="fromDate">From Date</label>
                        <span class="input-group">
                            <input type="date" id="fromDate" ng-model="sdmSearchBox.parameters.date_from" ng-class="{default:!sdmSearchBox.parameters.date_from}">
                        </span>
                    </div>



                    <div class="sdm-search-group">
                        <label for="examNumber">Exam Number</label>
                        <span class="input-group">
                            <input type="text" id="examNumber" ng-model="sdmSearchBox.parameters.exam">
                        </span>
                    </div>
                    <div class="sdm-search-group">
                        <label for="subjectAge1">Subject Age</label>
                        <span class="input-group age">
                            <input type="number" id="subjectAge1" ng-model="sdmSearchBox.parameters.subj_age_min" placeholder="Minimum" step="any" min="0" max="120">
                            <input type="number" id="subjectAge2" ng-model="sdmSearchBox.parameters.subj_age_max" placeholder="Maximum" step="any" min="0" max="120">
                        </span>
                    </div>
                    <div class="sdm-search-group">
                        <label for="psdName">PSD Name:</label>
                        <span class="input-group">
                            <input type="text" id="psdName" ng-model="sdmSearchBox.parameters.psd" placeholder="Enter Pulse Sequence">
                        </span>
                    </div>
                    <div class="sdm-search-group">
                        <label for="toDate">Through Date</label>
                        <span class="input-group">
                            <input type="date" id="toDate"  ng-model="sdmSearchBox.parameters.date_to" ng-class="{default:!sdmSearchBox.parameters.date_to}">
                        </span>
                    </div>
                    <div class="sdm-search-group">
                        <label for="scanType">Scan Type</label>
                        <span class="input-group">
                            <select class="form-control" form="sdm-search-box-form" id="scanType" ng-class="{default:!sdmSearchBox.parameters.scan_type && sdmSearchBox.parameters.scan_type !== 0}" ng-options="sdmSearchBox.scanTypeValues.indexOf(type) as type for type in sdmSearchBox.scanTypeValues" ng-model="sdmSearchBox.parameters.scan_type" ng-change="sdmSearchBox.changeScanTypeDefault()">
                                <option class="default" value="">{{sdmSearchBox.selectScanTypeDefault}}</option>
                            </select>
                        </span>
                    </div>

                    <div class="sdm-search-group">
                        <label for="sex">Subject Sex</label>
                        <span class="input-group">
                            <select class="form-control" form="sdm-search-box-form" id="sex" ng-class="{default:!sdmSearchBox.parameters.sex}" ng-model="sdmSearchBox.parameters.sex" ng-change="sdmSearchBox.changeSexDefault()">
                                <option class="default" value="">{{sdmSearchBox.sexDefault}}</option>
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                            </select>
                        </span>
                    </div>


                    <div class="sdm-search-group sdm-search-buttons">
                        <label></label>
                        <span class="input-group">
                            <input type="button" class="btn btn-default" value="Clear" ng-click="sdmSearchBox.clear()">
                            <input type="submit" id="sdm-search-button" class="btn btn-default" value="Search" ng-disabled="sdmSearchBox.form.$invalid || sdmSearchBox.isEmpty()">
                        </span>
                    </div>


                </div>

            </form>
        </div>
    </div>

    <sdm-table-view class="sdm-table-search" sdm-data="sdmTableViewData.sdmData" sdm-trigger="sdmTableViewData.trigger" sdm-view-id="sdmTableViewData.viewID" ng-class="{'hidden-box': !sdmSearchBox.isBoxExpanded}"  ng-if="sdmSearchBox.showSearchResults"></sdm-table-view>
</div>
