<sdm-info-modal>
    <div class="info-modal-title">
        {{sdmIMController.title}} info
        <span class="spinner" ng-show="sdmIMController.loadingState > 0"></span>
    </div>
    <div class="info-modal-path" >
        <div>
            <span ng-repeat="element in sdmIMController.path"> <span class="glyphicon glyphicon-chevron-right" ng-if="$index!==0"></span>  {{element}}</span>
            <span><span class="glyphicon glyphicon-chevron-right"/> {{sdmIMController.name}}</span>
        </div>
    </div>
    <div class="info-modal-body" ng-show="sdmIMController.loadingState === 0">
        <div class="sdm-field-line" ng-repeat="field in sdmIMController.data">
            <span class="field-name">{{field.key}}:</span>
            <span class="sdm-value" ng-show="!field.editing" ng-click="sdmIMController.edit($event, field)" ng-class="{'sdm-editable': sdmIMController.editables[field.key], 'sdm-hover': field.hover && (sdmIMController.userPermission === 'admin' || sdmIMController.userPermission === 'rw' || sdmIMController.user.root)}" ng-mouseenter="field.hover=true" ng-mouseleave="field.hover=false">
                {{field.value}}
            </span>
            <input type="text" class="sdm-edit" ng-model="field.value" ng-show="field.editing && sdmIMController.editables[field.key].type === 'text'" ng-blur="field.editing = false; sdmIMController.saveFields($event)" ng-keydown="$event.keyCode === 13?(field.editing = false||sdmIMController.saveFields($event)):'';">
            </input>
            <button class="sdm-edit btn btn-xs btn-default" ng-class="{'sdm-hover': field.hover && (sdmIMController.userPermission === 'admin' || sdmIMController.userPermission === 'rw' || sdmIMController.user.root)}" ng-show="sdmIMController.editables[field.key] && (sdmIMController.userPermission === 'admin' || sdmIMController.userPermission === 'rw' || sdmIMController.user.root)" ng-click="sdmIMController.edit($event, field)" ng-mouseenter="field.hover=true" ng-mouseleave="field.hover=false">
                <span class="glyphicon glyphicon-pencil"></span>
            </button>
        </div>
    </div>

    <ul class="nav nav-tabs" role="tablist" ng-show="sdmIMController.loadingState === 0">
        <li role="presentation"  ng-class="{active: sdmIMController.modalView === 'file list'}" ng-click="sdmIMController.modalView = 'file list'" ng-show="sdmIMController.files.length && (sdmIMController.userPermission === 'admin' || sdmIMController.userPermission === 'rw' || sdmIMController.user.root || sdmIMController.userPermission === 'ro')">
            <a>File List</a>
        </li>
        <li role="presentation"  ng-class="{active: sdmIMController.modalView === 'attachments'}" ng-click="sdmIMController.modalView = 'attachments'" ng-show="(sdmIMController.userPermission === 'admin' || sdmIMController.userPermission === 'rw' || sdmIMController.user.root || (sdmIMController.userPermission === 'ro' && sdmIMController.attachments.length))">
            <a>Attachments</a>
        </li>
        <li role="presentation" ng-class="{active: sdmIMController.modalView === 'notes'}" ng-click="sdmIMController.modalView = 'notes'" ng-show="(sdmIMController.apiData.notes && sdmIMController.apiData.notes.length) || sdmIMController.userPermission === 'admin' || sdmIMController.userPermission === 'rw' || sdmIMController.user.root">
            <a>Notes</a>
        </li>
        <li role="presentation" ng-class="{active: sdmIMController.modalView === 'permissions'}" ng-click="sdmIMController.modalView = 'permissions'" ng-show="sdmIMController.apiData.permissions && (sdmIMController.userPermission === 'admin' || sdmIMController.user.root)">
            <a>Permissions</a>
        </li>
        <li role="presentation" ng-class="{active: sdmIMController.modalView === 'metadata'}" ng-click="sdmIMController.modalView = 'metadata'" ng-show="(sdmIMController.userPermission === 'admin' || sdmIMController.userPermission === 'rw' || sdmIMController.user.root || sdmIMController.userPermission === 'ro') && sdmIMController.title === 'acquisition'">
            <a>Metadata</a>
        </li>
    </ul>

    <!-- files -->
    <div ng-show="sdmIMController.modalView === 'file list'" class="sdm-view-files">
        <div class="files-header">
            <table class="table">
                <thead>
                    <tr>
                        <td>File description</td>
                        <td>Size</td>
                        <td>Permalink</td>
                        <td class="centered">Viewer</td>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="files-body">
            <table class="table">
                <tbody>
                    <tr class='file' ng-repeat="file in sdmIMController.files">
                        <td><a href ng-click="sdmIMController.download(file)">{{file.filetype}}: {{file.datatypes.join(', ')}}</a></td>
                        <td>{{sdmIMController.formatSize(file.filesize)}}</td>
                        <td class="permalink"><input type="text" select-on-click readonly ng-value="sdmIMController.getPermalink(file.filename)"></td>
                        <td class="centered">
                            <span class="glyphicon glyphicon-eye-open"
                                  ng-show="file.filetype === 'montage'"
                                  sdm-popover sdm-popover-template-content="components/d3Viewer/tileViewer.html"
                                  sdm-popover-class="sdm-info-modal" sdm-popover-show="click"
                                  sdm-popover-show-timeout="0" sdm-popover-style-width="90%"
                                  sdm-popover-style-height="90%" sdm-append-to-body>
                            </span>
                            <span class="glyphicon glyphicon-eye-open"
                                ng-show="file.filetype === 'nifti'"
                                sdm-popover
                                sdm-popover-template-content="components/papayaViewer/papayaViewer.html"
                                sdm-popover-class="sdm-papaya-viewer"
                                sdm-popover-show="click"
                                sdm-popover-show-timeout="0"
                                sdm-append-to-body ng-click="sdmIMController.viewFileInPapaya(file)">
                            </span>
                            <span class="glyphicon glyphicon-eye-open"
                                ng-show="file.filetype === 'text'"
                                sdm-popover
                                sdm-popover-template-content="components/genericViewer/genericViewer.html"
                                sdm-popover-class="sdm-generic-viewer"
                                sdm-popover-show="click"
                                sdm-popover-show-timeout="0"
                                sdm-append-to-body ng-click="sdmIMController.viewAttachment(file)">
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>


    <!-- files  end -->
    <!-- attachments -->
    <div class="sdm-upload-attachments" ng-show="sdmIMController.loadingState === 0 && sdmIMController.modalView === 'attachments'">
        <sdm-upload-attachment ng-show="sdmIMController.userPermission === 'admin' || sdmIMController.userPermission === 'rw' || sdmIMController.user.root">
            <div ng-file-drop ng-file-select class="drop-box" ng-model="sdmULController.newFiles" drag-over-class="dragover" ng-multiple="true" allow-dir="true" ng-change="sdmULController.addFiles()">
                <span class="glyphicon glyphicon-picture"></span>
                <span class="sdm-message-dropbox">
                    <div>Drop your files here</div>
                    <div class="small">Or click to</div>
                    <div class="small with-border">Browse</div>
                </span>
            </div>
            <div class="progress-container" ng-show="sdmULController.uploadInProgress">
                <div>
                    <span class="upload-desc-wrap">
                        <span class="upload-desc">{{sdmULController.processingFileName}}</span>
                    </span>
                    <span  class="sha-alert">{{sdmULController.calculatingMD5?'Calculating hash...':'Uploading file...'}}</span>
                    <input type="button" id="info-modal-upload-skip" class="btn btn-default btn-xs" ng-click="sdmULController.skipFile()" value="Skip">
                </div>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" ng-style="{width: sdmULController.progressPercentage + '%'}">
                        {{sdmULController.progressPercentage||0}}%
                    </div>
                </div>
                <div>{{sdmULController.processedFiles}} files uploaded out of {{sdmULController.queueLength}}
                    <input type="button" id="info-modal-upload-clear" class="btn btn-default btn-xs" ng-click="sdmULController.clearUploadFiles($event)" value="Abort">
                </div>
            </div>
            <div class="error-message" ng-show="sdmULController.errorMessage">
                {{sdmULController.errorMessage}}
            </div>
        </sdm-upload-attachment>

        <div ng-show="sdmIMController.attachments.length">
            <div class="attachments-header">
                <table class="table">
                    <thead>
                        <tr>
                            <td>Filename</td>
                            <td>Size</td>
                            <td>Permalink</td>
                            <td class="centered">Viewer</td>
                            <td ng-show="sdmIMController.userPermission !== 'ro' || sdmIMController.user.root" class="centered">Remove</td>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="attachments-body">
                <table class="table">
                    <tbody>
                        <tr class='attachment' ng-repeat="attachment in sdmIMController.attachments">
                            <td><a href ng-click="sdmIMController.downloadAttachment($index)">{{attachment.filename}}</a></td>
                            <td>{{sdmIMController.formatSize(attachment.filesize)}}</td>
                            <td class="permalink"><input type="text" select-on-click ng-value="sdmIMController.getPermalink(attachment.filename)" readonly></td>
                            <td class="centered">
                                <a href >
                                    <span class="glyphicon glyphicon-eye-open"
                                        ng-show="attachment.filetype === 'nifti'"
                                        sdm-popover
                                        sdm-popover-template-content="components/papayaViewer/papayaViewer.html"
                                        sdm-popover-class="sdm-papaya-viewer"
                                        sdm-popover-show="click"
                                        sdm-popover-show-timeout="0"
                                        sdm-append-to-body ng-click="sdmIMController.viewAttachment(attachment)">
                                    </span>
                                    <span class="glyphicon glyphicon-eye-open"
                                        ng-show="sdmIMController.hasCsvViewer(attachment)"
                                        sdm-popover
                                        sdm-popover-template-content="components/csvViewer/csvViewer.html"
                                        sdm-popover-class="sdm-csv-viewer"
                                        sdm-popover-show="click"
                                        sdm-popover-show-timeout="0"
                                        sdm-append-to-body ng-click="sdmIMController.viewAttachment(attachment)">
                                    </span>
                                    <span class="glyphicon glyphicon-eye-open"
                                        ng-show="sdmIMController.hasBbrowserViewer(attachment)"
                                        sdm-popover
                                        sdm-popover-template-content="components/brainbrowser/brainbrowser.html"
                                        sdm-popover-class="sdm-bbrowser-viewer"
                                        sdm-popover-show="click"
                                        sdm-popover-show-timeout="0"
                                        sdm-append-to-body ng-click="sdmIMController.viewAttachment(attachment)">
                                    </span>
                                    <span class="glyphicon glyphicon-eye-open"
                                        ng-show="attachment.filetype !== 'nifti' && !sdmIMController.hasBbrowserViewer(attachment) && !sdmIMController.hasCsvViewer(attachment)"
                                        sdm-popover
                                        sdm-popover-template-content="components/genericViewer/genericViewer.html"
                                        sdm-popover-class="sdm-generic-viewer"
                                        sdm-popover-show="click"
                                        sdm-popover-show-timeout="0"
                                        sdm-append-to-body ng-click="sdmIMController.viewAttachment(attachment)">
                                    </span>
                                </a>
                            </td>
                            <td ng-show="sdmIMController.userPermission !== 'ro' || sdmIMController.user.root" class="centered">
                                <span class="glyphicon glyphicon-remove" ng-click="attachment.confirmRemove=true" ng-show="!attachment.confirmRemove"></span>
                                <input type="button" class="btn btn-default btn-xs btn-danger" ng-click="sdmIMController.removeAttachment(attachment)" value="Delete" ng-show="attachment.confirmRemove"></input>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- attachments end -->

    <!-- permissions -->
    <form name="form" ng-class="{error: form.hasErrors}" ng-show="sdmIMController.loadingState === 0 && sdmIMController.modalView === 'permissions'">
        <div id="info-change-permissions" ng-show="sdmIMController.isAdmin">
            <div class="flex-row">
                <div class="sdm-input-cell sdm-small4"><!-- ng-class="{'enable-input':sdmAMController.selectedGroup}"-->
                    <div class="sdm-input-label">Give Access to User:</div>
                    <input class="form-control typeahead" type="text" ng-model="sdmIMController.selectedUID" placeholder="{{sdmIMController.permissionPlaceholder}}" name="newPermission" ng-class="{'sdm-invalid': form.newPermission.hasErrors, 'sdm-operation-success': sdmIMController.success}">
                </div>
                <div class="sdm-input-cell sdm-small2">
                    <div class="sdm-input-label">Assign Permission Level</div>
                    <select class="form-control" ng-init="" ng-class="{default:!sdmIMController.selectedRole}" ng-options="role.name for role in sdmIMController.roles" ng-model="sdmIMController.selectedRole" ng-change="sdmIMController.addUser($event, form)" ng-disabled="!sdmIMController.selectedUID"><option class="default" value="" disabled>Select</option></select>
                </div>
                <div class="sdm-input-cell sdm-small2 remove-header">
                    <div>Remove</div>
                </div>
            </div>
            <div class="permissions-body">
                <div class="flex-row user-permission" ng-repeat="permission in sdmIMController.apiData.permissions" ng-class="{gray:$index%2===0, 'first-body':$index===0}">
                    <div class="sdm-input-cell sdm-small4 permission-name">
                        <div class="permission-name">
                            {{sdmIMController.getUsername(permission._id)}}
                        </div>
                    </div>
                    <div class="sdm-input-cell sdm-small2 select">
                        <select class="form-control" ng-options="role.rid as role.name for role in sdmIMController.roles" ng-model="permission.access" ng-change="sdmIMController.updatePermissions()" ng-disabled="permission._id===sdmIMController.user.user_uid && !sdmIMController.user.root"></select>
                    </div>
                    <div class="sdm-input-cell sdm-small2 remove">
                        <i class="fa fa-times-circle-o fa-2x" ng-click="sdmIMController.removeUser($index, form)"></i>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- end permissions -->

    <!-- metadata -->
    <div class="sdm-metadata" ng-show="sdmIMController.loadingState === 0 && sdmIMController.modalView === 'metadata'">
        <table>
            <tr>
                <td>Protocol</td>
                <td>{{sdmIMController.apiData.protocol}}</td>
            </tr>
            <tr>
                <td>Description</td>
                <td>{{sdmIMController.apiData.description}}</td>
            </tr>
            <tr>
                <td>Series</td>
                <td>{{sdmIMController.apiData.series}}</td>
            </tr>
            <tr>
                <td>Datatype</td>
                <td>{{sdmIMController.apiData.datatype}}</td>
            </tr>

            <tr>
                <td>Phase Encode Undersample</td>
                <td>{{sdmIMController.apiData.phase_encode_undersample}}</td>
            </tr>
            <tr>
                <td>Slice Encode Undersample</td>
                <td>{{sdmIMController.apiData.slice_encode_undersample}}</td>
            </tr>
            <tr>
                <td>Duration</td>
                <td>{{sdmIMController.apiData.duration}}</td>
            </tr>
            <tr>
                <td>Averages</td>
                <td>{{sdmIMController.apiData.num_averages}}</td>
            </tr>
            <tr>
                <td>Size</td>
                <td>{{sdmIMController.apiData.size.x}}x{{sdmIMController.apiData.size.y}}</td>
            </tr>
            <tr>
                <td>Tr</td>
                <td>{{sdmIMController.apiData.tr}}</td>
            </tr>
            <tr>
                <td>Ti</td>
                <td>{{sdmIMController.apiData.ti}}</td>
            </tr>
            <tr>
                <td>Te</td>
                <td>{{sdmIMController.apiData.te}}</td>
            </tr>
            <tr>
                <td>PSD Name</td>
                <td>{{sdmIMController.apiData.psd}}</td>
            </tr>
            <tr>
                <td>Device</td>
                <td>{{sdmIMController.apiData.device}}</td>
            </tr>
            <tr>
                <td>Rx Coil</td>
                <td>{{sdmIMController.apiData.rx_coil}}</td>
            </tr>
            <tr>
                <td>Slices</td>
                <td>{{sdmIMController.apiData.num_slices}}</td>
            </tr>
            <tr>
                <td>Flip Angle</td>
                <td>{{sdmIMController.apiData.flip_angle}}</td>
            </tr>
            <tr>
                <td>Time Points</td>
                <td>{{sdmIMController.apiData.num_timepoints}}</td>
            </tr>
            <tr>
                <td>Pixel Bandwidth</td>
                <td>{{sdmIMController.apiData.pixel_bandwidth}}</td>
            </tr>
            <tr>
                <td>Acquisition Matrix</td>
                <td>{{sdmIMController.apiData.acquisition_matrix.x}} {{sdmIMController.apiData.acquisition_matrix.y}}</td>
            </tr>
            <tr>
                <td>Field of View</td>
                <td>{{sdmIMController.apiData.fov.x}} {{sdmIMController.apiData.fov.y}}</td>
            </tr>
            <tr>
                <td>mm per Voxel</td>
                <td>{{sdmIMController.apiData.mm_per_voxel.x}} {{sdmIMController.apiData.mm_per_voxel.y}} {{sdmIMController.apiData.mm_per_voxel.z}}</td>
            </tr>
            <tr>
                <td>Echos</td>
                <td>{{sdmIMController.apiData.num_echos}}</td>
            </tr>
            <tr>
                <td>Timestamp</td>
                <td>{{sdmIMController.apiData.timestamp}}</td>
            </tr>
            <tr>
                <td>Timezone</td>
                <td>{{sdmIMController.apiData.timezone}}</td>
            </tr>
        </table>

        <!--pre>{{sdmIMController.apiData | json}}</pre-->
    </div>


    <!-- permissions end -->
    <!-- notes -->
    <form name="formNotes" class="notes-view" ng-class="{error: formNotes.hasErrors}" ng-show="sdmIMController.loadingState === 0 && sdmIMController.modalView === 'notes' && ((sdmIMController.apiData.notes && sdmIMController.apiData.notes.length) || sdmIMController.userPermission === 'admin' || sdmIMController.userPermission === 'rw' || sdmIMController.user.root)">
        <div ng-keydown="sdmIMController.createNewNote($event)">
            <textarea class="form-control new-note" ng-model="sdmIMController.newNote" ng-show="sdmIMController.canModify"  placeholder="Enter your note">
            </textarea>
        </div>
        <div class="sdm-notes" ng-class="{'with-input': sdmIMController.canModify}">
            <div ng-repeat="note in sdmIMController.apiDataNotes.slice().reverse()">
                <div class="note-header">
                    <span class="author">{{note.date}} - {{note.author}} wrote:</span>
                    <i class="fa fa-times-circle-o" ng-click="sdmIMController.removeNote($index, formNotes)"></i>
                </div>
                <div class="note-container" ng-bind-html="note.text | newlines"></div>
            </div>
        </div>
    </form>
    <!-- notes end -->
    <div class="info-modal-warning" ng-show="sdmIMController.confirmDismiss">
        Are you sure you want do dismiss your pending changes?
    </div>
    <div class="info-modal-confirm-buttons">
        <input type="button" id="info-modal-close" class="btn btn-default" ng-click="sdmIMController.close($event)" value="Close" ng-disabled="sdmULController.uploadInProgress"></input>
    </div>
    <!-- permissions end -->
</sdm-info-modal>
