@import (less) "../../variables.less";

//style for the tooltip
div.popover.sdm-note-tooltip {
    position: relative;
    overflow: visible;
    top: 0px;
    left: 0px;
    height: 32px;
    .popover-dialog.sdm-note-tooltip{
        padding: 5px;
        top: 22px;
        left: -4px;
        overflow: visible;
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        background-color: @bgcol3;
        &:before {
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            border-bottom: 7px solid black;
            top: 0px;
            left: 10px;
        }
        &:after {
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-bottom: 6px solid @bgcol3;
            top: 0px;
            left: 10px;
        }

    }
    div.notes-tooltip {
        height: 100%;
        width: 100%;
        font-size: 1.5ex;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        overflow: scroll;
        word-wrap: break-word;
    }
}

//style for the info modal
div.sdm-info-modal {
    .popover-dialog {
        height: 700px;
        width: 900px;
        font-family: 'proxima-nova', "Helvetica Neue", Helvetica, Arial, sans-serif;
        border: none;
        box-shadow: 0px 2px 6px @darkGray;
    }

    .popover-dialog:before, .popover-dialog:after {
        top: 0px;
        left: 95%;
        border-left: none;
        border-right: none;
        border-bottom: none;
    }
    .popover-overlay {
        background-color: lightgray;
    }

}

sdm-info-modal {
    .field-name {
        font-weight: bold;
    }

    ul.nav.nav-tabs {
        margin-top: 35px;
        margin-left: 40px;
        margin-right: 40px;
    }

    textarea {
        max-height: 60px;
        max-width: 100%;
    }

    div.sdm-upload-attachments, div.sdm-view-files {
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 10px;
        div.attachments-header table {
            border: 1px solid @mediumGray;
            border-bottom: none;
            font-weight: 500;
            margin-bottom: 0px;
            margin-top: 15px;
            td {
                width: 12%;
                &.centered {
                    text-align: center;
                }
            }

            td:first-child {
                width: 40%;
            }
            background-color: @lightestGray;
        }
        div.attachments-body {

            height: 200px;
            overflow: scroll;
            border: 1px solid @mediumGray;

            border-top: none;
            table.table {
                tr {
                    border-top: 1px solid @mediumGray;
                    border-collapse: collapse;
                }
                margin-top: 0px;
                margin-bottom: 0px;
                table-layout: fixed;
                td {
                    width: 12%;
                    overflow:hidden;
                    text-overflow: ellipsis;
                    vertical-align: middle;
                    white-space: nowrap;
                    &.centered {
                        text-align: center;
                    }
                }

                td:first-child {
                    width: 40%;
                }
                td.permalink {
                    color: #428bca;
                    overflow: visible;
                    input {
                        width: 100%;
                    }
                }
                span.glyphicon-download-alt {
                    color: #428bca;
                }

            }
        }

        div.files-header table {
            border: 1px solid @mediumGray;
            border-bottom: none;
            margin-top: 8px;
            margin-bottom: 0px;
            font-weight: 500;
            td {
                width: 15%;
                &.centered {
                    text-align: center;
                }
            }
            td:first-child {
                width: 40%;
            }
            background-color: @lightestGray;
        }
        div.files-body {
            min-height: 150px;
            max-height: 320px;
            overflow: scroll;
            border: 1px solid lightgrey;

            border-top: none;
            table.table {
                tr {
                    border-top: 1px solid @mediumGray;
                    border-collapse: collapse;
                }
                margin-top: 0px;
                margin-bottom: 0px;
                table-layout: fixed;
                td {
                    width: 15%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    &.centered {
                        text-align: center;
                    }
                    vertical-align: middle;
                }
                td {
                    overflow: visible;
                    input {
                        width: 100%;
                    }
                    span.glyphicon {
                        color: #428bca;
                    }
                }

                td:first-child {
                    width: 40%;
                }

            }
        }
    }

    div.info-modal-path{
        padding: 0 40px 4px 40px;
        & > div {
            width: 100%;
            font-weight: bold;
            border-bottom: 1px solid @mediumGray;
        }
        span.glyphicon {
            font-size: 11px;
            top: 0px;
        }
        span.glyphicon.glyphicon-remove {
            float: right;
            padding-right: 5px;
            padding-top: 4px;
        }
    }

    div.info-modal-title{
        padding: 20px 40px 0px 40px;
        border-radius: 4px 4px 0 0;
        margin-bottom: 10px;
        height: 60px;
        font-weight: bold;
        background-color: @lightestGray;
        border-bottom: solid 1px @mediumGray;
        text-transform: capitalize;

    }

    div.info-modal-body {
        padding: 10px 40px 0 40px;
        height: 64px;
        .sdm-field-line {
            display: flex;
            align-items: center;
        }
        .field-name {
            flex: 0 0 auto;
        }
        .sdm-value {
            flex: 1;
            border: 1px solid transparent;
            padding-left: 2px;
            margin-left: 4px;
            align-items: flex-start;
        }
        .sdm-editable {
            cursor: text;
            height: 20px;
            margin-right: 2px;
            vertical-align: top;
            display: inline-block;
            &.sdm-hover {
                background-color: @lightestGray;
                border: 1px solid @softGray;
            }

        }
        button.sdm-edit {
            //position: relative;
            top: -1px;
            height: 20px;
            width: 22px;
            &.sdm-hover {
                background-color: #e6e6e6;
                border-color: #adadad;
            }
            &:focus, &:active {
                outline-style: none;
                outline-width: 0px;
                background-color: white;
                border-color: #ccc;
                &.sdm-hover {
                    background-color: #e6e6e6;
                    border-color: #adadad;
                }
            }
        }
        input.sdm-edit {
            padding-top: 3px;
            height: 20px;
            flex: 1;
            margin-left: 4px;
        }
    }



    div.info-modal-confirm-buttons {
        position: absolute;
        bottom: 20px;
        right: 40px;
        #info-modal-save {
            background-color: @blue;
            color: white;
        }
    }

    div#info-change-permissions {
        margin-top: 10px;
        padding-left: 40px;
        padding-right: 40px;
        input.typeahead {
            width: 400px;
        }
        /*
        .enable-input input.tt-hint {
            visibility: hidden;
        }*/
        div.tt-menu {
            height: 200px;
            overflow: scroll;
        }
        div.tt-dataset-users {
            padding-left: 10px;
            border: 1px solid lightgrey;
            width: 400px;
            background: white;
            .tt-cursor {
                color: @blue;
            }
        }
        .permissions-body {
            margin-top: 10px;
            border: 0px solid @mediumGray;
            border-width: 1px;
            overflow: scroll;
            max-height: 310px;
            .flex-row {
                border: 0px solid @mediumGray;
                border-top-width: 1px;
                align-items: center;
                padding: 4px 0;
                &.gray {
                    background-color: @lightestGray;
                }
                &.first-body {
                    border-top-width: 0;
                }
                .sdm-input-cell {
                    margin-top: 0;
                    &.remove {
                        text-align: center;
                        color: @blue;
                    }
                    &.select {
                        padding-left: 0px;
                    }
                    .permission-name {
                        padding-left: 10px;
                    }
                }
            }
        }
        .flex-row {
            .sdm-input-cell {
                &.remove-header {
                    text-align: center;
                    vertical-align: bottom;
                    align-self: flex-end;
                }
            }
        }
    }

    div#info-permissions {
        margin-top: 5px;
        padding-left: 0px;
        padding-right:0px;
        &>* {
            margin-left: 10px;
            margin-right: 10px;
        }
        &>div#info-change-permissions {
            margin-left: 0px;
            margin-right: 0px;
        }
        &>#permissions-title {
            margin-left: 0px;
            margin-right: 0px;
        }

        div.permissions-header table {
            border: 1px solid black;
            background-color: @bgcol2;
            color: @fgcol2;

            margin-bottom: 0px;
            td {
                width: 200px;
            }
        }
        div.permissions-body {

            height: 100px;
            overflow: scroll;
            border: 1px solid black;

            border-top: none;
            table.table {
                margin-top: 0px;
                margin-bottom: 0px;
                table-layout: fixed;
                td {
                    border-top: none;
                    width: 200px;
                    overflow:hidden;
                    text-overflow: ellipsis;
                    .glyphicon.disabled {
                        color: lightgrey;
                    }
                    &.permissions-access {
                        padding-left: 0px;
                        select {
                            width: 103px;
                        }
                    }
                    vertical-align: middle;
                }

            }
        }

    }

    .notes-view {
        .sdm-notes {
            height: 350px;
            overflow: scroll;
            margin-bottom: 6px;
            margin-top: 6px;
            &.with-input {
                height: 300px;
                margin-top: 6px;
            }
        }
        .note-header {
            font-weight: 500;
        }
        .note-container {
            border: 1px solid @mediumGray;
            border-radius: 6px;
            min-height: 45px;
            padding: 0 10px;
        }
        i.fa-times-circle-o {
            float: right;
        }
        border-bottom: 1px solid @mediumGray;
        margin-left: 40px;
        margin-right: 40px;
        padding-top: 20px;
    }
    div.info-modal-warning {
        padding: 10px;
        color: red;
        float: right;
    }

    .sdm-input-label {
        padding-left: 0px;
        padding-right: 0px;
        float: left;
        width: 100%;
        font-weight: bold;
    }
    .drop-box {
        width: 400px;
        margin-left: 0px;
        border: 2px dashed @mediumGray;
        color: @softGray;
        height: 96px;
        vartical-align: middle;
        display: inline-block;
        font-size: 20px;
        margin-top: 10px;
        span.glyphicon {
            margin-left: 20px;
            font-size: 70px;
            vertical-align: middle;
            margin-top: 10px;
        }
        span.sdm-message-dropbox {
            text-align: center;
            float: right;
            margin-right: 40px;
            margin-top: 5px;
            line-height: 28px;
            color: @mediumGray;
            .small {
                font-size: 12px;
                line-height: 18px;
            }
            .small.with-border {
                border: 1px solid @softGray;
                border-radius: 4px;
                margin: 0px 50px;
                line-height: 30px;
                //float: right;
            }
        }
        &:hover {
            border-color: @blue;
            cursor: pointer;
            * {
                cursor: pointer;
            }
        }
    }
    .progress-container {
        div {
            margin-bottom: 5px;
            input {
                float: right;
                width: 50px;
                margin-bottom: 3px;
            }
        }
        .progress {
            .progress-bar {
                -webkit-transition: none;
                -moz-transition: none;
                -ms-transition: none;
                -o-transition: none;
                transition: none;
            }
            width: 400px;
            //margin-bottom: 0px;

        }

        display: inline-block;
        //left: 15px;
        float: right;
        margin-top: 20px;
    }
    div.sdm-metadata {
        height: 370px;
        overflow: scroll;
        margin: 20px 40px;
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        table {
          border-collapse: collapse;
          width: 820px;
          //margin: 0px 0px;

          td {
            border-bottom: 1px solid black;
            border-right: 1px solid black;
            padding-left: 10px;
            width: 50%;
            &:last-child {
              border-right: none;
            }
            &:first-child {
              font-weight: bold;
            }
          }
          tr:last-child td {
            border-bottom: none;
          }
          border-radius: 4px;
          border: 1px solid black;
          border-bottom: none;
          border-top: none;
        }
    }
    .error-message {
        color: red;
    }

    .dragover {
        border: 5px dashed blue;
    }
    .upload-desc-wrap {
        width: 180px;
        position: absolute;
    }
    .upload-desc {
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        position: absolute;
        white-space: nowrap;
    }
    .sha-alert {
        margin-left: 190px;
        height: 15px;
        -webkit-animation-name: blinker;
        -webkit-animation-duration: 1s;
        -webkit-animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;

        -moz-animation-name: blinker;
        -moz-animation-duration: 1s;
        -moz-animation-timing-function: linear;
        -moz-animation-iteration-count: infinite;

        animation-name: blinker;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
    @-moz-keyframes blinker {
        0% { opacity: 1.0; }
        50% { opacity: 0.0; }
        100% { opacity: 1.0; }
    }

    @-webkit-keyframes blinker {
        0% { opacity: 1.0; }
        50% { opacity: 0.0; }
        100% { opacity: 1.0; }
    }

    @keyframes blinker {
        0% { opacity: 1.0; }
        50% { opacity: 0.0; }
        100% { opacity: 1.0; }
    }

}
