<sdm-confirm-anonymize>
    <div class="title-modal">Confirm Data is Anonymized</div>
    <div class="body-modal">Please confirm that the data you are going to upload has been already anonymized. Your data will be uploaded as is.</div>
    <div class="confirm-buttons">
        <button class="btn btn-default" ng-click="sdmCAController.cancel()">Cancel</button>
        <button class="btn btn-default confirm" ng-click="sdmCAController.confirm()">Confirm</button>
    </div>
</sdm-confirm-anonymize>
