@import (less) "../../active_config/variables.less";

#sdm-upload-dicom-view {
    padding-left: 10px;
    position: absolute;
    bottom: 41px;
    top: 72px;
    left: 15px;
    right: 15px;
    border: solid 1px black;
    border-top: none;
    table {
        margin-top: 15px;
        margin-left: auto;
        margin-right: auto;
        width: 96%;
        table-layout: fixed;
        th:first-child, td:first-child {
            width: 5%;
        }
        th, td {
            width: 13%;
            height: 30px;
            border: 1px solid black;
            border-collapse: collapse;
            padding: 5px;
        }
    }

    #sdm-upload-dicom-menu {
        margin-top: 15px;
        margin-left: auto;
        margin-right: auto;
        width: 96%;
        #sdm-dicom-form-metadata {
            width: 30%;
            select {
                width: 100%;
                margin-bottom: 8px;
            }
            display: inline-block;
        }
        .drop-box {
            width: 69%;
            margin-left: 5px;
            background: #F8F8F8;
            border: 5px dashed #DDD;
            height: 100px;
            text-align: center;
            vartical-align: middle;
            display: inline-block;
            padding-top: 30px;
            font-size: 20px;
        }

    }

    #sdm-upload-dicom-buttons {
        margin-top: 15px;
        width: 96%;
        margin-left: auto;
        margin-right: auto;
        input.btn {
            float: right;
            width: 116px;
            height: 24px;
            padding: 1px;
            margin-left: 5px;
            background-color: @bgcol1;
            color: @fgcol1;
            &[type="button"] {
                background-color: @bgcol2;
                color: @fgcol2;
            }
        }
    }


    #sdm-upload-dicom-title {
        position:absolute;
        top: 5px;
        left:5px;
        right:5px;
        border: solid 1px black;
        font-variant: small-caps;
        background-color: @bgcol2;
        color: @fgcol2;
        text-align: center;
        font-size: 22px;
        padding-left: 20px;
        span {
            float: right;
            margin-right: 5px;
            margin-top: 4px;
            font-size: 16px;
        }
    }

    #sdm-upload-dicom-body {
        position:absolute;
        top: 37px;
        left: 5px;
        right:5px;
        bottom: 5px;
        border: solid 1px black;
    }

}
