<sdm-upload-dicom>
    <div id="sdm-upload-dicom-view">
        <div id="sdm-upload-dicom-title">Upload Dicom Files
        </div>
        <div id="sdm-upload-dicom-body">
            <div id="sdm-upload-dicom-menu">
                <div id="sdm-dicom-form-metadata">
                    <select class="form-control" ng-options="group.name||group._id for group in sdmULDController.groups" ng-model="sdmULDController.selectedGroup" ng-change="sdmULDController.getProjects($event, sdmULDController.selectedGroup)" ng-class="{default:!sdmULDController.selectedGroup}">
                        <option class="default" value="">Select group of destination project</option></select>
                    <select class="form-control" ng-disabled="!sdmULDController.projects.length" ng-options="project.name for project in sdmULDController.projects" ng-model="sdmULDController.selectedProject" ng-class="{default:!sdmULDController.selectedProject}"><option class="default" value="">Select destination project</option></select>
                    <input type="checkbox" ng-model="sdmULDController.anonymize">
                    <label for="sdm-anonymize">Anonymize</label>
                </div>
                <div ng-file-drop ng-file-select class="drop-box" ng-model="sdmULDController.newFiles" drag-over-class="dragover" ng-multiple="true" allow-dir="true" ng-change="sdmULDController.addFiles()">
                    Drop Dicom files here or click to upload
                </div>
            </div>
            <div>
                <table>
                    <tr>
                        <th>Upload</th>
                        <th>Date and time</th>
                        <th>Exam #</th>
                        <th>Description</th>
                        <th>Slices</th>
                        <th>PatientID</th>
                        <th>Size</th>
                        <th>Progress</th>
                    </tr>
                    <tr ng-repeat="(seriesID, data) in sdmULDController.series">
                        <td><input type="checkbox" ng-model="data.selected"></td>
                        <td>{{data.datetime}}</td>
                        <td>{{data.tags.StudyID.value[0]}}</td>
                        <td>{{data.tags.SeriesDescription.value[0]}}</td>
                        <td>{{data.length}}{{data.tags.ImagesInAcquisition.value[0]?'/' + data.tags.ImagesInAcquisition.value[0]:''}}</td>
                        <td>{{data.tags.PatientID.value[0]}}</td>
                        <td>{{data.size}}</td>
                        <td>{{data.progress}}%</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
            <div id="sdm-upload-dicom-buttons">
                <input type="submit" class="btn btn-default" value="Upload" ng-disabled="sdmULDController.empty" ng-click="sdmULDController.upload()">
                <input type="button" class="btn btn-default" value="Clear" ng-disabled="sdmULDController.empty" ng-click="sdmULDController.clear()">
            </div>
        </div>
    </div>
</sdm-upload-dicom>
